// generic styling on input elements
input:not([type='checkbox']):not([type='radio']):not([type='submit']),
textarea,
select {
    // add font awesome to font family for placeholders
    color: $body-font-color;
    font-family: $body-font-family;
    min-height: $input-height;
    padding: 0;
    padding-left: ($small-space * 2);
    font-weight: normal;
    border: 1px solid #0083a8;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: rem-calc(14);
    margin-bottom: ($xlarge-space / 2);
    width: 100%;
    &.hollow {
        border: 1px solid #ffffff;
        background-color: transparent;
        @include input-placeholder {
            color: #ffffff;
            font-size: rem-calc(12);
        }
    }
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
            height: 30px;
            -webkit-appearance: none;
            margin-right: -1px;
        }
    }
    // style placeholder
    @include input-placeholder {
        //color: $light;
        position: relative;
        padding: 0;
        top: 0;
        transition: all, 250ms, ease-in;
        font-size: rem-calc(14);
        font-family: $body-font-family;
        opacity: 0.7;
        //line-height: normal;
        @include z-index(main);
        // for safari only
        @media not all and (min-resolution: 0.001dpcm) {
            @supports (-webkit-appearance: none) {
                padding-top: 0px;
                line-height: 12px;
            }
        }
    }
    // change the horrible yellow background to white in chrome
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        border: 1px solid #ccc;
        padding-left: ($small-space * 2);
        color: $body-font-color;
        font-family: $body-font-family !important;
        font-size: rem-calc(14);
    }
    // hide placeholder on focus
    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
}
// for focused elements
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 5px $secondary;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
textarea {
    resize: none;
    height: 100px;
    box-shadow: none;
    padding: ($small-space * 2);
    font-size: $body-font-size;
}

select {
    min-height: $input-height;
    color: $body-font-color;
    font-size: rem-calc(14);
}

// file upload
.fileUploadHolder {
    width: auto;
    margin: $medium-space auto;
    text-align: center;
    .fileInput + label {
        display: inline-block;
        width: auto;
        margin-top: 0;
        vertical-align: top;
        padding: 0;
        background: none;
        font-weight: 600;
        color: $light;
        &.hasFile {
            color: $body-font-color;
        }
    }
}
// Cfile upload button
.fileInput {
    width: 0.1px !important;
    height: 0.1px !important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    + label {
        opacity: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: ($small-space * 2);
        margin-top: ($small-space * 3);
        width: auto;
        max-width: 300px;
        text-align: left;
        color: #ffffff;
        text-transform: none;
        background-color: $primary;
        transition: background 250ms ease-in-out;
        // Containing the text
        span {
            font-size: rem-calc(13) !important;
        }
        strong {
            font-style: italic;
            color: darken($primary, 25%);
        }
        &:focus + label,
        &.has-focus + label,
        + label:hover {
            background-color: $primary;
        }
        * {
            pointer-events: none;
        }
    }
}
