// set your breakpoints
$breakpoint-small: 767px !default;
$breakpoint-medium: 992px !default;
$breakpoint-large: 1140px !default;
$breakpoint-xlarge: 1440px !default;
// set your queries
$small: '(min-width: 0)';
$small-only: '(max-width: ' + $breakpoint-small + ')';
$medium: '(min-width: ' + ($breakpoint-small + 1) + ')';
$medium-only: '(min-width: ' + $breakpoint-small + ') and (max-width: ' + ($breakpoint-medium - 1) + ')';
$medium-down: '(max-width: ' + ($breakpoint-medium) + ')';
$large: '(min-width: ' + $breakpoint-medium + ')';
$large-only: '(min-width: ' + $breakpoint-medium + ') and (max-width: ' + ($breakpoint-xlarge - 1) + ')';
$large-down: '(max-width: ' + $breakpoint-large + ')';
$xlarge: '(min-width: ' + $breakpoint-xlarge + ')';
$xlarge-down: '(max-width: ' + $breakpoint-xlarge + ')';
$xlarge-up: '(min-width: ' + ($breakpoint-large + 1) + ')';

// map your points
$breakpoints: ('small' $small, 'medium' $medium, 'large' $large, 'xlarge' $xlarge) !default;
// Allow the query
@mixin breakpoint($media) {
    @media #{$media} {
        @content;
    }
}
// to override bootstrap
// gutters
$grid-gutter-width: 30px;
$grid-gutter-medium: ($grid-gutter-width / 2);

$global-width: $breakpoint-large;

.container,
.owl-nav {
    max-width: 1180px;
}
