@keyframes moveIndeterminate {
	0% {
	    background-position: 200% 0;
	}
	100% {
	    background-position: -200% 0;
	}
}

progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: $border-radius;
    display: block;
    height: ($small-space * 2);
    overflow: hidden;
    padding: 0;
    width: 100%;
	background-color: rgba($lightGrey, 0.3);
	&::-webkit-progress-bar {
	  background-color: rgba($lightGrey, 0.3);
	}

	&:indeterminate {
	    animation-duration: 1.5s;
	    animation-iteration-count: infinite;
	    animation-name: moveIndeterminate;
	    animation-timing-function: linear;
	    background-position: top left;
	    background-repeat: no-repeat;
	    background-size: 150% 150%;
	}


	// map through the themes
	@each $theme in map-keys(map-get($config, themes)) {
		&.#{$theme} {
			&::-webkit-progress-value {
			  background-color: map-fetch($config, themes $theme colour );
			}
			&::-moz-progress-bar {
			  background-color:  map-fetch($config, themes $theme colour );
			}
			&::-ms-fill {
			  background-color:  map-fetch($config, themes $theme colour );
			  border: none;
			}
			&:indeterminate {
			    background-image: linear-gradient(to right,map-fetch($config, themes $theme colour ) 30%, rgba($lightGrey, 0.3) 30%);
			}
		}
	}
}
