// sizing
$small-space: 5px;
$medium-space: 20px;
$large-space: 40px;
$xlarge-space: 60px;

// mixins to use
@import 'mixins';

// Z index heirarchy
$z-index: (
    modal: 200,
    navigation: 100,
    footer: 10,
    header: 50,
    main: 10,
);

// map sure the colours are in the map, otherwise revert back to primary
@function palette_lookup($colour, $suffix: '') {
    $value: null;
    // if it has a trail
    @if ($suffix != '' and map-has-key($palette, $colour + '-' + $suffix)) {
        $value: map-get($palette, $colour + '-' + $suffix);
        // if it's stand alone
    } @else if (map-has-key($palette, $colour)) {
        $value: map-get($palette, $colour);
        // revert to primary if not found
    } @else {
        $value: map-get($palette, primary);
    }
    @return $value;
}
// shorthand crayola
$primary: palette_lookup(primary);
$primaryText: palette_lookup(primaryText);
$secondary: palette_lookup(secondary);
$secondaryText: palette_lookup(secondaryText);
$tertiary: palette_lookup(tertiary);
$tertiaryText: palette_lookup(tertiaryText);
$quaternary: palette_lookup(quaternary);
$quaternaryText: palette_lookup(quaternaryText);
$quinary: palette_lookup(quinary);
$quinaryText: palette_lookup(quinaryText);
$senary: palette_lookup(senary);
$senaryText: palette_lookup(senaryText);
$grey: palette_lookup(grey);
$darkGrey: palette_lookup(darkGrey);
$darkGreyText: palette_lookup(darkGreyText);
$lightGrey: palette_lookup(lightGrey);
$lightGreyText: palette_lookup(lightGreyText);

// map sure the colours are in the map, otherwise revert back to primary
@function notification_lookup($colour, $suffix: '') {
    $value: null;
    // if it has a trail
    @if ($suffix != '' and map-has-key($notifications, $colour + '-' + $suffix)) {
        $value: map-get($notifications, $colour + '-' + $suffix);
        // if it's stand alone
    } @else if (map-has-key($notifications, $colour)) {
        $value: map-get($notifications, $colour);
        // revert to primary if not found
    } @else {
        $value: map-get($notifications, primary);
    }
    @return $value;
}
// shorthand crayola
$success: notification_lookup(success);
$error: notification_lookup(error);
$alert: notification_lookup(alert);
$warning: notification_lookup(warning);

// locations
@function social_lookup($colour, $suffix: '') {
    $value: null;
    // if it has a trail
    @if ($suffix != '' and map-has-key($social, $colour + '-' + $suffix)) {
        $value: map-get($social, $colour + '-' + $suffix);
        // if it's stand alone
    } @else if (map-has-key($social, $colour)) {
        $value: map-get($social, $colour);
    }
    @return $value;
}
$facebook: social_lookup(facebook);
$twitter: social_lookup(twitter);
$instagram: social_lookup(instagram);
$youtube: social_lookup(youtube);
$snapchat: social_lookup(snapchat);
$pinterest: social_lookup(pinterest);
$etsy: social_lookup(etsy);
$reddit: social_lookup(reddit);
$buffer: social_lookup(buffer);

// theme map
$config: (
    themes: (
        primary: (
            colour: $primary,
            text: $primaryText,
            headline: $primaryText,
        ),
        secondary: (
            colour: $secondary,
            text: $secondaryText,
            headline: $secondaryText,
        ),
        tertiary: (
            colour: $tertiary,
            text: $tertiaryText,
            headline: $tertiaryText,
        ),
        quaternary: (
            colour: $quaternary,
            text: $quaternaryText,
            headline: $quaternaryText,
        ),
        quinary: (
            colour: $quinary,
            text: $quinaryText,
            headline: $quinaryText,
        ),
        senary: (
            colour: $senary,
            text: $senaryText,
            headline: $senaryText,
        ),
        default: (
            colour: $body-font-color,
            text: #ffffff,
            headline: #ffffff,
        ),
        grey: (
            colour: $grey,
            text: $darkGrey,
            headline: $darkGreyText,
        ),
        darkGrey: (
            colour: $darkGrey,
            text: $darkGreyText,
            headline: $darkGreyText,
        ),
        darkGreyText: (
            colour: $darkGreyText,
            text: $darkGrey,
            headline: $primary,
        ),
        lightGrey: (
            colour: $lightGrey,
            text: $lightGreyText,
            headline: $lightGreyText,
        ),
        lightGreyText: (
            colour: $lightGreyText,
            text: $lightGrey,
            headline: $lightGreyText,
        ),
    ),
    networks: (
        facebook: (
            colour: $facebook,
            text: #ffffff,
        ),
        twitter: (
            colour: $twitter,
            text: #ffffff,
        ),
        instagram: (
            colour: $instagram,
            text: #ffffff,
        ),
        youtube: (
            colour: $youtube,
            text: #ffffff,
        ),
        snapchat: (
            colour: $snapchat,
            text: #ffffff,
        ),
        pinterest: (
            colour: $pinterest,
            text: #ffffff,
        ),
        etsy: (
            colour: $etsy,
            text: #ffffff,
        ),
        reddit: (
            colour: $reddit,
            text: #ffffff,
        ),
        buffer: (
            colour: $buffer,
            text: #ffffff,
        ),
        email: (
            colour: $primary,
            text: $primaryText,
        ),
    ),
    notifications: (
        success: (
            colour: $success,
            text: #ffffff,
        ),
        error: (
            colour: $error,
            text: #ffffff,
        ),
        alert: (
            colour: $alert,
            text: #ffffff,
        ),
        warning: (
            colour: $warning,
            text: #ffffff,
        ),
    ),
);

// notifications
$success: map-get($palette, success);
$error: map-get($palette, error);
$alert: map-get($palette, alert);
$warning: map-get($palette, warning);

// basic
$color-white: #ffffff;

// anchor styles
$anchor-font-color: $primary;

$email: $primary;
