.error-container {
    padding-bottom: ($small-space * 10);
    img {
        display: block;
        height: 180px;
        width: auto;
        margin: ($small-space * 10) auto;
    }
    h1 {
        background: $primary;
        margin-bottom: 0;
    }
    h2 {
        margin-bottom: ($small-space * 10);
    }
    .button {
        margin-top: $large-space;
        width: 250px;
    }

    p {
        font-size: rem-calc(24);
        strong {
            color: $secondary;
            margin-bottom: ($small-space * 4);
            display: block;
        }
    }
}
