body {
    &.privacy-policy,
    &.cookie-policy {
        .standard-text-container {
            text-align: left;
        }
    }
    section {
        padding: ($small-space * 10) 0;
        display: block;
        + .component-queries {
            padding-top: 0;
            margin-top: -50px;
        }
    }
}
