.sidebar-container {
    display: none;
}

#sidebar-select {
    padding: ($small-space * 2) 0;
    margin: 0 ($small-space * 5);

    @media only screen and (max-width: 423px) {
        border-bottom: 1px solid #222222;
        border-top: 1px solid #222222;
    }
    span {
        &:before {
            content: '';
            border-bottom: 1px solid #dcd9d9;
            position: absolute;
            left: 10px;
            bottom: 13px;
            width: calc(100% - 290px);
            height: 1px;
            @media only screen and (max-width: 423px) {
                display: none;
            }
        }
    }
    select {
        width: 175px;
        height: 40px;
        padding: 5px;
        border: none;
        @media only screen and (max-width: 423px) {
            width: 225px;
        }
    }
}

.location-select {
    padding: ($small-space * 2) 0;
    margin: 0 ($small-space * 5);

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            list-style-type: none;
        }
    }
}
