.sitemap {
    padding-bottom: ($small-space * 10);
    li {
        color: $primary;
        a {
            font-size: rem-calc(20);
            color: $primary;
            font-weight: normal;
        }
        .csSubmenuWrap {
            ul.sub-menu {
                li {
                    color: $quaternary;
                    a {
                        color: $quaternary;
                    }
                    .csSubmenuWrap {
                        ul.sub-menu {
                            li {
                                color: $tertiary;
                                a {
                                    color: $tertiary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
