// Header specific styles here

// redo
$menuoffset: 100px;
$activeTab: 6px;
$logo: 350px;
$logoSmall: 200px;
$headerHeight: ($large-space * 2);
$menu-height: 220px;
$from-top: 90px;

.component-navigation {
    @media #{$small-only} {
        display: none;
    }
}

.toggle-js .component-navigation {
    @media #{$small-only} {
        display: block;
        overflow: scroll;
        padding-bottom: 40px;
    }
}

body {
    &.menuOpen-js {
        position: fixed;
        .homeButton {
            color: $primary;
        }
        .logo {
            svg {
                left: -30px;
            }
            #svg_logo .e {
                fill: #ffffff;
            }
        }
        .accessibility {
            display: none;
        }
    }
}

// hero image on homepage
header {
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: $button-transition ease all;
    background-color: $body-font-color;
    height: auto;
    padding: ($small-space * 2) 0;
    @media #{$small-only} {
        top: 0;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        top: 0;
    }
    > .container {
        height: 100%;
        > .row {
            height: 100%;
        }
    }
    &.onScroll {
        box-shadow: 0px ($small-space * 2) 12px -3px rgba(52, 52, 52, 0.1);
        transition: 0 $button-transition ease all;
    }

    .logo {
        @media #{$small-only} {
            padding-bottom: ($small-space * 2);
            text-align: center;
            svg {
                g#tagline {
                    display: none;
                }
            }
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            padding-bottom: ($small-space * 2);
        }
        svg,
        img {
            width: 100%;
            max-width: 170px;
            height: auto;
            z-index: 1000;
            position: relative;
            @media #{$small-only} {
                padding-left: 0;
                position: relative;
                z-index: 10000;
                max-width: 150px;
                left: -30px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                padding-left: 0;
                position: relative;
                z-index: 10000;
            }
        }
        a {
            display: inline-block;
            width: $logo;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
                width: 100%;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
                width: 100%;
            }
        }
    }
    @media #{$medium} {
        .text-md-right {
            text-align: right;
        }
    }

    #menu-main,
    #menu-header-menu-right,
    #menu-header-menu-left,
    #menu-menu-right-logged-in {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        li.button {
            margin-left: $medium-space;
            padding: 0 ($small-space * 4);
            a {
                color: #ffffff;
                font-size: rem-calc(16);
                font-family: $body-font-family;
            }
        }
        li:not(.button):not(.search-link-php):not(.account-link-php) {
            list-style-type: none;
            display: inline-flex;
            padding: 0 ($small-space * 2.5);
            &.active {
                a {
                    color: $secondary;
                }
            }
            a {
                position: relative;
                color: #ffffff;
                font-family: $header-font-family;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: $secondary;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -$large-space;
                    left: 0;
                    width: 100%;
                    height: ($small-space * 10);
                }
            }
            .csSubmenuWrap {
                display: none;
                position: absolute;
                left: ($small-space * 2);
                top: ($large-space * 2);
                height: $from-top;
                @extend .container;
                @extend .row;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-start;
                align-items: flex-start;
                // background drop
                &:before {
                    content: '';
                    position: fixed;
                    left: 0;
                    top: $from-top;
                    width: 100vw;
                    height: $menu-height;
                    background-color: $body-font-color;
                }

                //drop menu
                .sub-menu {
                    @extend .col-12;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-content: stretch;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 100%;
                    li {
                        display: block;
                        padding-bottom: ($small-space * 2);
                        &:first-of-type {
                            a {
                                color: $quinary;
                            }
                        }
                        a {
                            color: #ffffff;
                            &:hover,
                            &:focus,
                            &:active {
                                color: $primary;
                            }
                            // featured image
                            img {
                                border-radius: calc(#{$menu-height} / 2) 0 0 calc(#{$menu-height} / 2);
                                position: fixed;
                                right: 0;
                                top: $from-top;
                                height: $menu-height;
                                width: 650px;
                                object-fit: cover;
                                @media #{$small-only} {
                                    display: none;
                                }
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
            &.hasDrop {
                &:hover,
                &:focus,
                &:active {
                    .csSubmenuWrap {
                        display: flex;
                    }
                }
            }
            ul > li {
                background-color: transparent;
            }
        }
    }
}

.god-level {
    position: relative;
}
