header {
    @media #{$small-only} {
        display: inline-flex;
    }
    .mobile-nav {
        @media #{$medium} {
            display: none;
        }
        display: inline-block;
        // so the absolute pos elements can scretch outside
        position: initial;
        > div {
            position: static;
        }
        a {
            margin-left: ($small-space * 2);
            float: right;
            width: $large-space !important;
            height: $large-space !important;
            margin-top: $small-space;
            color: rgba($darkGrey, 0.5);
            &:hover,
            &:focus,
            &:active {
                color: $primary;
            }
            .fa {
                font-size: rem-calc(30);
            }
            .far {
                font-size: rem-calc(24);
            }
        }
    }
    .navigate {
        @media #{$small-only} {
            // so the absolute pos elements can scretch outside
            position: initial;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            // so the absolute pos elements can scretch outside
            position: initial;
        }
        .access-links {
            position: absolute;
            top: -75px;
            right: ($small-space * 2);
            li {
                margin: 0 $small-space;
            }
        }
        // standard toggles
        .toggleButton-js {
            display: none;
            z-index: 10000;
            @media #{$small-only} {
                display: inline-flex;
                z-index: 10000;
                position: relative;
                position: absolute;
                left: ($small-space * 2);
                top: -75px;
            }
            &.open {
                position: fixed;
                left: ($small-space * 2);
                top: $medium-space;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                display: inline-flex;
            }
        }
        .toggle-js {
            display: none;
            position: fixed;
            right: 0;
            width: 100%;
            left: 0;
            top: 0;
            background-color: $body-font-color;
            z-index: 1000;
            padding-top: 100px;
            height: 100vh;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                left: -$large-space;
                width: 110vw;
            }
            &.opened {
                display: block;
            }
            // reshow the form
            form,
            nav {
                display: inline-flex;
            }
            // mobile styling for the navigation
            nav {
                display: inline-block !important;
                width: 100% !important;
                .menu {
                    .menu-main-container {
                        ul.menu {
                            display: inline-block;
                            width: 100%;
                            margin-left: 0;
                            li {
                                background-color: transparent !important;
                                text-align: left;
                                display: inline-block;
                                width: 100%;
                                padding-bottom: 0;
                                border-left: none !important;
                                border-right: none !important;
                                position: relative;
                                @extend .align-all;
                                &:hover,
                                &:focus,
                                &:active {
                                    a {
                                        border-radius: 0;
                                    }
                                }
                                // &:last-of-type {
                                //     border-bottom: none;
                                // }
                                &:first-of-type {
                                    margin-top: 0;
                                }
                                &.search-link-php {
                                    display: none;
                                }
                                &.hasDrop {
                                    &:last-of-type {
                                        a {
                                            border-bottom: 1px solid #ffffff;
                                        }
                                    }
                                    .toggle-append-js {
                                        span {
                                            transition: 0.3s ease all;
                                        }
                                    }
                                    &.opened {
                                        .toggle-append-js {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            span {
                                                transform: rotate(180deg);
                                                transition: 0.3s ease all;
                                            }
                                        }
                                    }
                                    a {
                                        &:first-of-type {
                                            border-top: 1px solid #ffffff;
                                            border-right: none;
                                            //border-bottom: none;
                                        }
                                        + .csSubmenuWrap {
                                            display: none;
                                            &.opened {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                                &.account-link-php {
                                    display: none;
                                }
                                &.button {
                                    background-color: $primary !important;
                                    width: 80%;
                                    margin-left: 10%;
                                    text-align: center;
                                    margin-top: $medium-space;
                                }
                                .toggle-append-js {
                                    width: 10%;
                                    display: inline-flex;
                                    height: 41px;
                                    @extend .align-all;
                                    border-top: 1px solid #ffffff;
                                    .fa,
                                    .far {
                                        color: #fff;
                                        font-size: rem-calc(25);
                                    }
                                }
                                a {
                                    display: inline-block;
                                    width: 90% !important;
                                    background-color: transparent;
                                    font-size: rem-calc(16);
                                    margin: 0;
                                    // @extend .align-all;
                                    color: #ffffff;
                                    height: auto !important;
                                    padding: ($small-space * 2) 0 $small-space 0;
                                    float: left;
                                    padding-left: ($xlarge-space / 2);
                                    &:after {
                                        display: none;
                                    }
                                }
                                .csSubmenuWrap {
                                    position: relative;
                                    width: 100%;
                                    max-width: none;
                                    left: auto;
                                    transform: none;
                                    top: auto;
                                    visibility: visible;
                                    opacity: 1;
                                    padding-bottom: 0 !important;
                                    ul {
                                        display: inline-block;
                                        padding-top: 0;
                                        margin: 0;
                                        padding-top: ($small-space * 2);
                                        width: 100%;
                                        margin-bottom: 0 !important;
                                        li {
                                            text-align: left;
                                            display: block;
                                            align-items: flex-start;
                                            justify-content: flex-start;
                                            flex-direction: column;
                                            padding: 0 !important;
                                            &:first-of-type {
                                                border-top: none;
                                            }
                                            .csSubmenuWrap {
                                                transform: none;
                                                ul {
                                                    padding-top: 0;
                                                    margin: 0;
                                                    li {
                                                        margin-left: ($small-space * 2);
                                                        border: none;
                                                        &:last-of-type {
                                                            margin-bottom: -$small-space;
                                                            padding-bottom: 0;
                                                        }
                                                    }
                                                }
                                            }
                                            a {
                                                display: inline-block;
                                                width: 100%;
                                                height: auto;
                                                background-color: transparent;
                                                font-size: rem-calc(14) !important;
                                                padding: $small-space 0;
                                                border: none !important;
                                                color: #ffffff !important;
                                                font-weight: normal;
                                                padding-left: ($xlarge-space / 2);
                                                &:after {
                                                    display: none;
                                                }
                                            }
                                            &:last-of-type {
                                                padding-bottom: $small-space;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // apply an active state
            &.active {
                display: inline-flex;
            }
        }
    }
}
