.navigation {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: $large-space;
    margin-top: $large-space;
    li {
        display: inline;
        a {
            text-decoration: none;
            background-color: #ffffff;
            color: $body-font-color;
            cursor: pointer;
            padding: $small-space ($small-space * 2);
            font-size: rem-calc(12);
            &:hover {
                background-color: $primary;
                color: $primaryText;
                text-decoration: none;
                cursor: pointer;
            }
        }
        &.active a,
        &.disabled {
            color: $primaryText;
            text-decoration: none;
            background-color: $primary;
            cursor: pointer;
        }
        a:hover,
        &.active a {
            background-color: $primary;
        }
    }
}
