// plugin for search
//
form.is-search-form {
    input[type='search'] {
        color: $body-font-color;
        border: none !important;
        display: inline-block;
        margin-bottom: 0;
    }
    .is-form-style input.is-search-submit,
    .is-search-icon {
        color: #ffffff;
        background: $primary;
        font-size: rem-calc(14) !important;
        border: none !important;
        svg {
            top: 1px;
            path {
                fill: #ffffff;
            }
        }
    }
}

body.search {
    .searchResults-title {
        margin-top: ($small-space * 10);
        border-bottom: 1px solid $tertiary;
        margin-bottom: ($small-space * 10);
        img {
            padding-bottom: ($small-space * 2);
        }
    }
}

.no-result,
.searchResults-title {
    p {
        font-size: rem-calc(18);
    }
    img {
        display: inline-block;
        margin-right: $medium-space;
        width: ($xlarge-space / 2);
        height: auto;
        padding-bottom: 40px;
        float: left;
    }
}

.no-result {
    p {
        margin-bottom: ($small-space * 10);
    }
    form {
        transition: 0.3s ease all;
        padding: ($small-space * 3) 0;
        width: 300px;
        display: inline-block;
        label {
            width: calc(100% - 55px);
            display: inline-block;
        }
        input {
            margin-bottom: 0;
            border-radius: 0;
            width: 100%;
            outline: none;
            box-shadow: none;
            padding-right: ($xlarge-space / 2);
            &:focus {
                box-shadow: none;
            }
        }
        button {
            width: 42px;
            height: 42px;
            padding: 0;
            border-radius: 50%;
            margin-left: -($xlarge-space / 2);
            background-color: $tertiary;
            top: 0;
            position: relative;
            color: $tertiaryText;
            @media not all and (min-resolution: 0.001dpcm) {
                @supports (-webkit-appearance: none) {
                    top: 0px;
                }
            }
        }
    }
}

.search-result-query {
    .article-content {
        margin-bottom: $large-space;
    }
    .component-image {
        border-radius: 50% !important;
        width: 175px;
        height: 175px;
    }
    strong {
        color: $primary;
        display: block;
        margin-bottom: ($small-space * 2);
    }
    .button {
        margin-top: $medium-space;
    }
    .result-image {
        height: 175px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
