@keyframes bg-pan-right {
    0% {
        background-position: 0 100%;
        transform: scale(1);
    }
    100% {
        background-position: 100% 100%;
        transform: scale(1.01);
    }
}

@keyframes expand-from-centre {
    from {
        stroke-dasharray: 0 400;
        stroke-dashoffset: -100;
    }
    to {
        stroke-dasharray: 400 400;
        stroke-dashoffset: 0;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes animateSlide-left {
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes animateSlide-left {
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes animateSlide-right {
    to {
        -webkit-mask-image: linear-gradient(90deg, #000, #000 50%, transparent 60%, transparent);
    }
}
@keyframes animateSlide-right {
    to {
        -webkit-mask-image: linear-gradient(90deg, #000, #000 50%, transparent 60%, transparent);
    }
}

@-webkit-keyframes animateSlide-center {
    to {
        -webkit-mask-image: linear-gradient(180deg, transparent, transparent 50%, #000 0%, #000);
    }
}
@keyframes animateSlide-center {
    to {
        -webkit-mask-image: linear-gradient(180deg, transparent, transparent 50%, #000 0%, #000);
    }
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

@keyframes come-in-left {
    to {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
