$color-white: #ffffff;
$color-dark: #444444;
$color-grey: #cccccc;
$color-red: #d33a47;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

// Datepicker Style
.ui-datepicker {
    display: none;
    width: 20rem;
    background: $color-white;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin-top: 1rem;

    &-header {
        text-align: center;
        padding: ($small-space * 2) 0 !important;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        border: none;
        background: none;
        color: $body-font-color;
        font-weight: normal;

        a {
            span {
                display: none !important;
            }

            &.ui-corner-all {
                cursor: pointer;
                position: absolute;
                top: 0;
                width: 2rem;
                height: 2rem;
                margin: 0.5rem;
                border-radius: 0.5rem;
            }

            &.ui-datepicker-prev {
                left: 0;
                &:hover,
                &:focus,
                &:active {
                    background-image: none;
                }
                &::after {
                    font-family: FontAwesome;
                    content: '\f060';
                    font-size: 14px;
                    color: $secondary;
                    top: 0;
                    position: relative;
                }
            }

            &.ui-datepicker-next {
                right: 0;
                &:hover,
                &:focus,
                &:active {
                    background-image: none;
                }
                &::after {
                    font-family: FontAwesome;
                    content: '\f061';
                    font-size: 14px;
                    color: $secondary;
                    top: 0;
                    position: relative;
                }
            }
        }
    }

    &-calendar {
        width: 100%;
        text-align: center;
        padding: 1rem;

        thead {
            color: $color-grey;
        }

        a {
            color: $color-dark;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 35px;
            height: 35px;
            line-height: 35px;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
            @extend .align-all;
            display: flex !important;
            background: none !important;
            font-size: rem-calc(12);
            font-weight: normal;
            &:hover {
                border: 1px solid $color-grey;
            }
        }

        .ui-state-highlight {
            border-color: $primary;
            color: $primary;
        }

        .ui-state-active {
            background: $color-red !important;
            color: #ffffff !important;
        }
    }
}
