.fancybox-slide--video .fancybox-content {
    width: 800px;
    height: 600px;
    max-width: 100%;
    max-height: calc(100% - 100px);
    margin: ($small-space * 10) 0;
    overflow: visible;
    background: #000;
}

.button-close,
.button-previous,
.button-next {
    position: absolute;
    width: ($small-space * 10);
    height: ($small-space * 10);
    text-align: center;
    line-height: ($small-space * 10);
    color: $secondary;
    text-decoration: none;
    border-radius: 50%;
    font-size: rem-calc(16);
}

.button-previous,
.button-next {
    top: 50%;
    margin-top: -($small-space * 5);
    line-height: $large-space;
    i {
        font-size: rem-calc(40);
    }
}

.button-previous {
    left: -($small-space * 10);
}

.button-next {
    right: -($small-space * 10);
}

.button-close {
    top: -($small-space * 3);
    right: -$large-space;
    color: rgba(255, 255, 255, 0.8);
    font-size: rem-calc(30);
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    display: block !important;
    width: 100% !important;
    top: auto !important;
    background: rgba(0, 0, 0, 0.7) !important;
    padding: ($small-space * 2) 0 !important;
}

.fancybox-image {
    border: ($small-space * 2) solid #ffffff !important;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0 !important;
    bottom: 95px;
}

.fancybox-thumbs__list {
    margin: 0 auto !important;
}

.fancybox-thumbs__list a:before {
    border: $small-space solid $primary !important;
}

.fancybox-caption__body {
    width: 600px;
    margin: 0 auto;
    padding: ($small-space * 2);
    background-color: $secondary;
    font-size: rem-calc(12);
    @media #{$small-only} {
        width: 100%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        width: 100%;
    }
}

.fancybox-caption.fancybox-caption--separate {
    padding-bottom: 0 !important;
}

.fancybox-navigation {
    @media #{$small-only} {
        position: absolute;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        height: $xlarge-space;
        z-index: 1000000;
        width: 100%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        position: absolute;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        height: $xlarge-space;
        z-index: 1000000;
        width: 100%;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        position: absolute;
        left: auto;
        top: 50%;
        transform: translateY(-50%);
        height: $xlarge-space;
        z-index: 1000000;
        width: 100%;
    }
}
