// lazy loading

.come-in {
    transform: translateY(#{$lazy-load});
    animation: come-in 1s ease forwards;
    &.svg-bg {
        transform: translate(-50%, -50%) translateY(0);

        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        &.bg-half {
            z-index: 1;
            transform: translate(-50%, -45px) translateY(0);
            bottom: 0;
            top: auto;
        }

        &.align-bottom {
            transform: translate(-50%, -4px) translateY(0);
        }

        &-left {
            -webkit-animation: animateSlide-left 2s ease forwards;
            animation: animateSlide-left 2s ease forwards;
        }

        &-right {
            -webkit-animation: animateSlide-right 2s ease forwards;
            animation: animateSlide-right 2s ease forwards;
        }

        &-center {
            -webkit-animation: animateSlide-center 3s ease forwards;
            animation: animateSlide-center 3s ease forwards;
        }
    }
}
.already-visible {
    transform: translateY(0);
    animation: none;
    &.svg-bg {
        transform: translate(-50%, -50%) translateY(0);
    }
}

// whole page load
//
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: darken($secondary, 10%);
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    &.fade-out {
        opacity: 0;
        animation-name: fade-out;
    }
    &.fade-in {
        opacity: 1;
        animation-name: fade-in;
    }
}
