.imgLightbox img,
.imgLightbox video {
    cursor: pointer;
    width: 100%;
    height: auto;
    @media #{$small-only} {
        height: auto;
        width: 100%;
        margin: ($small-space * 2) 0;
    }
}

.imgLightbox .caseVideo {
    position: relative;
    video {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Overlay Style */
#lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343434;
    text-align: center;
    z-index: 100;
    h3 {
        color: #f3f3f3;
    }
    .fa-times {
        @extend .horizontal-center;
        bottom: $large-space;
        font-size: rem-calc(30);
        cursor: pointer;
        color: #ffffff;
        background-color: $primary !important;
        width: ($small-space * 10);
        height: ($small-space * 10);
        @extend .align-all;
    }
    img,
    video {
        width: 900px;
        height: auto;
        @extend .absolute-center;
    }
}

/* Responsiveness */
@media #{$small-only} {
    #lightboxOverlay {
        .fa-times {
            font-size: rem-calc(30);
            &:before {
                line-height: rem-calc(50);
            }
        }
        img,
        video {
            max-height: 80%;
            height: auto;
            width: auto;
        }
    }
}
