/********************
Select2 Override style
*********************/

/* Assign min-width to container */
.select2-container {
    font-family: $body-font-family;
}
/*********************************
Author : Techhysahil
Link : http://techhysahil.com
*********************************/

$default-theme-light-color: #e5e5e5;
$default-theme-dark-color: $secondary;

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
    background: $default-theme-light-color;
}

.select2-container--default {
    .select2-container--focus .select2-selection--multiple {
        border: 1px solid $default-theme-light-color;
        font-size: rem-calc(12);
    }
    .select2-results__option--highlighted[aria-selected] {
        background: $primary !important;
        color: $secondary !important;
        font-size: rem-calc(12);
        opacity: 0.8;
        font-weight: normal !important;
    }
    .select2-results__option[aria-selected='true'] {
        background: #b8b7bb !important;
        color: #9d9898 !important;
        font-size: rem-calc(12);
        font-weight: normal !important;
    }
    .select2-results__option[aria-selected] {
        font-size: rem-calc(12);
        font-weight: bold;
    }
    .select2-selection--single {
        border-radius: 0px;
    }
    &.select2-container--open {
        .select2-selection__arrow {
            b {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
            }
        }
    }
    span.select2-search {
        input {
            height: 30px !important;
        }
    }
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 320px;
}

.select2-container {
    .select2-choice {
        border: 2px solid #dce4ec;
        height: 36px;
        border-radius: 0px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        text-indent: 1px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: none;
        div {
            border-left: 2px solid #dce4ec;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }
        .select2-arrow {
            border: 0px;
            border-radius: 0px;
            background: transparent;
            background-image: none;
        }
    }
    *:focus {
        outline: 0px;
    }
    &.select2-drop-above .select2-choice {
        border-bottom-color: #dce4ec;
        border-radius: 0px;
    }
}

.select2-results__option {
    padding: 0 5px !important;
}

.select2-drop {
    margin-top: -2px;
    border: 2px solid #dce4ec;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &.select2-drop-above {
        margin-top: 2px;
        border-top: 2px solid #dce4ec;
        border-bottom: 0;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.select2-search {
    margin-top: 3px;
    input {
        height: 26px;
        border: 2px solid #dce4ec;
    }
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    .select2-choice div {
        background: transparent;
        border-left: none;
        filter: none;
    }
}

.select2-results {
    padding: 0 0 0 0px;
    margin: 4px 0px 0px 0;
    .select2-highlighted {
        background: $default-theme-dark-color;
        color: $primary;
        border-radius: 0px;
    }
}

.select2-container-multi {
    .select2-choices {
        height: auto !important;
        height: 1%;

        border: 2px solid #dce4ec;
    }
    &.select2-container-active .select2-choices {
        border: 2px solid #dce4ec;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

/****** Single SCSS *******/
.select2-container--default {
    .select2-selection--single {
        background: $default-theme-light-color;
        border: 0px;
        height: 34px;
        .select2-selection__rendered {
            color: #fff;
            line-height: 34px;
        }
        .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 1px;
            right: 1px;
            width: 20px;
            b {
                border-color: #fff transparent transparent transparent;
                top: 60%;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                width: 0;
            }
        }
        .select2-selection__placeholder {
            color: #fff;
        }
        .select2-selection__arrow b {
        }
        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
        }
    }
}

/****** Multiple SCSS *******/
.select2-container--default {
    .select2-selection--multiple {
        border: 1px solid $default-theme-dark-color;
        .select2-selection__choice__remove:hover {
            color: $default-theme-dark-color;
            cursor: pointer;
        }
        .select2-selection__rendered {
            box-sizing: border-box;
            list-style: none;
            margin: 0;
            padding: 0 5px;
            width: 100%;
        }
        .select2-selection__choice {
            background-color: $default-theme-light-color !important;
            color: $body-font-color;
            border: 1px solid $default-theme-light-color !important;
            font-size: rem-calc(12);
            border-radius: 0px;
            padding: 3px 5px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
        }
        .select2-selection__choice__remove {
            color: $default-theme-dark-color !important;
            margin-right: 6px;
            margin-left: 6px;
            float: right;
        }
    }
}
