#comments {
    &.commentSection {
        display: inline-block;
        width: 100%;
    }
    h2 {
        margin-bottom: 0;
        padding-top: ($small-space * 2);
        display: block;
        padding-bottom: ($small-space * 2);
        padding-left: ($small-space * 3);
        background-color: #ffca04;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900;
        color: #9e7735;
        margin-bottom: $medium-space;
        span {
            color: #ffffff;
            font-size: rem-calc(14);
            &.fa-stack-2x {
                font-size: rem-calc(26);
            }
        }
        a {
            font-size: 10px;
            display: block;
            position: absolute;
            right: 30px;
            top: 17px;
            color: $secondary;
        }
        margin-top: $large-space;
    }
    .commentlist {
        margin-left: 0px;
    }
    #respond {
        h2 {
            text-align: center;
        }
        ul {
            margin-left: 0px;
        }
        form {
            .comment-form-comment {
                textarea {
                    width: 100%;
                }
            }
        }
    }
}
.commentSection {
    li {
        position: relative;
        clear: both;
        // overflow: hidden;
        list-style-type: none;
        margin-bottom: ($small-space * 3);
        &:last-child {
            margin-bottom: 0;
        }
        &.parent {
            &:before {
                content: '';
                left: ($small-space * 10);
                top: 0;
                height: 99%;
                border: 1px dashed $primary;
                position: absolute;
                z-index: 0;
            }
            &:after {
                content: '';
                left: ($small-space * 10);
                bottom: 0;
                height: 1px;
                width: ($small-space * 10);
                border: 1px dashed $primary;
                position: absolute;
                z-index: 0;
            }
        }
        ul.children {
            margin: 0;
            li {
                &.parent {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
            .comment {
            }
            .alt {
            }
            .odd {
            }
            .even {
            }
            .depth-1 {
            }
            .byuser {
            }
            .bypostauthor {
            }
            .comment-author-admin {
            }
        }
        ol.children {
            margin-left: 75px;
            li {
                &.parent {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
            }
            article {
                background-color: #f0eefd;
            }
        }
    }
    li[class*='depth-'] {
        margin-top: ($small-space * 2);
    }
    li.depth-1 {
        margin-left: 0;
        margin-top: 0;
    }
    li:not(.depth-1) {
        margin-left: ($small-space * 2);
        margin-top: 0;
        padding-bottom: 0;
    }
    li.depth-2 {
    }
    li.depth-3 {
    }
    li.depth-4 {
    }
    li.depth-5 {
    }
    // General comment classes
    .alt {
    }
    .odd {
    }
    .even {
    }

    .comment {
    }
    .children {
    }
    .pingback {
    }
    .bypostauthor {
    }
    .comment-author {
    }
    .comment-author-admin {
    }
    .thread-alt {
    }
    .thread-odd {
    }
    .thread-even {
    }
    .vcard {
        cite.fn {
            font-weight: 700;
            font-style: normal;
            a.url {
            }
        }
        time {
            float: right;
            a {
                color: #999;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        img.photo {
        }
        img.avatar {
            position: absolute;
            left: -70px;
            padding: 2px;
            background: #fff;
            width: $xlarge-space;
            height: $xlarge-space;
            border-radius: 50%;
        }
    }
    .comment-meta {
        background-color: transparent;
        a {
            color: $secondary;
        }
        b,
        span {
            color: $body-font-color;
        }
        b {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: rem-calc(13);
        }
    }
    .comment-metadata {
        font-size: rem-calc(12);
    }
    .comment-body {
        position: relative;
        padding-left: 100px;
        background-color: #ffea9c;
        border-top-left-radius: $xlarge-space;
        border-bottom-left-radius: $xlarge-space;
        padding-bottom: ($small-space * 3);
        z-index: 10;
    }
    .bypostauthor {
        .comment-body {
            background-color: $secondary;
        }
        .comment-content,
        .comment-form-author,
        .comment-form-email,
        .comment-form-url {
            h1,
            h2,
            h3,
            h4,
            h5,
            p,
            li,
            .fn {
                color: $secondaryText;
            }
        }
        .comment-meta {
            background-color: transparent;
            a {
                color: $secondaryText;
            }
            b,
            span {
                color: $secondaryText;
            }
        }
    }
    // comment content
    .comment-content {
        margin-top: -($xlarge-space / 2);
        padding-right: ($small-space * 10);
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-size: rem-calc(14);
            font-family: $body-font-family;
            font-weight: 400;
        }
        p {
            font-weight: normal;
            font-size: rem-calc(13);
        }
        ul {
            margin: 0;
            li {
                margin-left: $small-space;
                padding-bottom: $small-space;
            }
        }
    }
    .comment-reply-link {
        position: absolute;
        right: ($small-space * 2);
        bottom: ($small-space * 2);
        color: #222;
        font-size: rem-calc(12);
        &:hover,
        &:focus {
        }
    }
    .comment-notes {
        font-size: rem-calc(12);
        margin-top: $medium-space;
        span {
            font-size: rem-calc(12);
            &:after {
                display: none;
            }
        }
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        label {
            display: block;
        }
        input {
            width: 100%;
        }
    }
}
.respond-form {
    margin: ($small-space * 3) ($small-space * 2);
    padding-bottom: $medium-space;
    form {
        margin: $small-space 0;
        li {
            list-style-type: none;
            clear: both;
            margin-bottom: 0.7335em;
            label,
            small {
                display: none;
            }
        }
        input[type='text'],
        input[type='email'],
        input[type='url'],
        textarea {
            padding: $small-space;
            background: #efefef;
            border: 2px solid #cecece;
            line-height: ($small-space * 3);
            &:focus {
                background: #fff;
            }
            // form validation
            &:invalid {
                outline: none;
                border-color: #fbc2c4;
                background-color: #f6e7eb;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                -ms-box-shadow: none;
                box-shadow: none;
            }
        }
        input[type='text'],
        input[type='email'],
        input[type='url'] {
            max-width: 400px;
            min-width: 250px;
        }
        textarea {
            resize: none;
            width: 97.3%;
            height: 150px;
        }
    }
}
// comment form title
#comment-form-title {
    margin: 0 0 1.1em;
}
// cancel comment reply link
#cancel-comment-reply {
    a {
    }
}
// logged in comments
.comments-logged-in-as {
}
// allowed tags
#allowed_tags {
    margin: ($small-space * 3) ($small-space * 2) 5px 0;
}
// No comments
.nocomments {
    margin: 0 $medium-space ($small-space * 2);
}

.comment-count {
    width: 75px;
    position: absolute;
    left: $large-space;
    bottom: ($small-space * 2);
    color: #ffffff;
    text-align: center;
    font-size: rem-calc(12);
    .fas {
        margin-right: $small-space;
    }
}
