.alignleft,
img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
}
.alignright,
img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
}
.aligncenter,
img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}
.alignnone,
img.alignnone {
}
.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
    img {
        border: 0 none;
        padding: 0;
        margin: 0;
    }
    p.wp-caption-text {
        line-height: 1.5;
        font-size: 10px;
        margin: 0;
    }
}
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}
.gallery {
    dl,
    dt,
    dd {
    }
    dl {
        a,
        img {
        }
    }
}
.gallery-caption,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
}
li {
    &.categories,
    &.cat-item,
    &.current-cat,
    &.current-cat-parent {
    }
}
ul.children,
.linkcat,
.blogroll,
.more-link,
.pagenav,
.page_item,
.current_page_item,
.current_page_parent,
.current_page_ancestor {
}
.pagenav {
    ul,
    .current_page_item ul {
    }
    .current_page_ancestor {
        ul,
        .current_page_item ul {
        }
        .current_page_ancestor {
            ul,
            .current_page_item ul,
            .current_page_ancestor ul {
            }
        }
    }
    ul ul,
    .current_page_item ul ul {
    }
    .current_page_ancestor {
        ul ul,
        .current_page_item ul ul {
        }
        .current_page_ancestor {
            ul ul,
            .current_page_item ul ul,
            .current_page_ancestor ul ul {
            }
        }
    }
}
.widget,
.widget_links ul li a,
.widget_meta ul li a,
.widget_pages ul li a {
}
.widget_archive {
    ul li a,
    select,
    option {
    }
}
.widget_links li {
    &:after,
    &:before {
    }
}
.widget_tag_cloud a {
    &:after,
    &:before {
    }
}
.widget_calendar {
}
#calendar_wrap {
    th,
    td {
    }
}
#wp-calendar {
    tr td,
    caption,
    a,
    #today,
    #prev,
    #next a,
    #prev a {
    }
}
.textwidget,
.widget_text,
.textwidget p {
}
.commentlist {
    .reply a,
    .alt,
    .odd,
    .even,
    .thread-alt,
    .thread-odd,
    .thread-even {
    }
    li ul.children {
        .alt,
        .odd,
        .even {
        }
    }
    .vcard {
        cite.fn,
        span.says {
        }
        img {
            &.photo,
            &.avatar {
            }
        }
        cite.fn a.url {
        }
    }
    .comment-meta a,
    .commentmetadata a,
    .parent,
    .comment,
    .children,
    .pingback,
    .bypostauthor,
    .comment-author,
    .comment-author-admin {
    }
    li {
        p {
        }
        ul.children li {
            &.alt,
            &.byuser,
            &.comment,
            &.bypostauthor,
            &.comment-author-admin {
            }
        }
    }
}
#cancel-comment-reply a {
}
.bypostauthor {
    background-color: transparent;
}
.gallery dl {
}
.gallery dt {
}
.gallery dd {
}
.gallery dl a {
}
.gallery dl img {
}
.gallery-caption {
    background-color: transparent;
}
.sticky {
    background-color: transparent;
}
