// general files
@import 'base/settings';

body.login {
    background-color: $primary;
    input#wp-submit {
        background-color: $tertiary;
        border: none;
        color: #ffffff;
        margin: 0;
        padding: 0 ($large-space + $small-space);
        font-size: rem-calc(14);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        height: $input-height;
        font-family: $header-font-family;
        overflow: hidden;
        border-radius: 0;
    }
    input {
        &:focus {
            border-color: $secondary;
            box-shadow: 0 0 0 1px $secondary;
            outline: 2px solid transparent;
        }
    }
    h1 a {
        background-image: url($assets + '/cg-logo-light.png');
        background-size: 225px;
        background-position: top;
        background-repeat: no-repeat;
        width: 260px;
        height: 95px;
    }
    form {
        margin-top: $medium-space;
        margin-left: 0;
        padding: ($small-space * 5) ($small-space * 5) ($large-space + $small-space);
        font-weight: 400;
        overflow: hidden;
        background: #fff;
        border: none;
        box-shadow: none;
    }
    p a {
        color: #ffffff !important;
    }
    #backtoblog {
        display: none;
    }
    #nav {
        text-align: center;
    }
    .forgetmenot {
        margin-top: ($small-space * 2);
    }
    .privacy-policy-link {
        display: none;
    }
}
