/*
Theme Name: Cattle Grid WP
Theme URI: git@gitlab.com:Ceryni/cattle-grid-wordpress.git
Author: Ruth Johnson
Author URI: http://usecattlegrid.com
Description: CattleGrid boilerplate theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, custom-menu, editor-style, featured-images, microformats, threaded-comments, blog
Text Domain: cattlegrid
*/

// general files
@import 'base/settings';

/* Links */

a {
    color: $tertiary;
    &:hover,
    &:active,
    &:focus {
        color: $primaryText;
    }
}

#post-body {
    .misc-pub-post-status:before,
    #visibility:before {
        color: currentColor;
    }
}

.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
    color: currentColor;
}

/* Forms */

input {
    &[type='checkbox']:checked::before {
        content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%232f466b%27%2F%3E%3C%2Fsvg%3E');
    }

    &[type='radio']:checked::before {
        background: $tertiary;
    }
}

.wp-core-ui input[type='reset'] {
    &:hover,
    &:active {
        color: #3f5d8e;
    }
}

input {
    &[type='text']:focus,
    &[type='password']:focus,
    &[type='color']:focus,
    &[type='date']:focus,
    &[type='datetime']:focus,
    &[type='datetime-local']:focus,
    &[type='email']:focus,
    &[type='month']:focus,
    &[type='number']:focus,
    &[type='search']:focus,
    &[type='tel']:focus,
    &[type='text']:focus,
    &[type='time']:focus,
    &[type='url']:focus,
    &[type='week']:focus,
    &[type='checkbox']:focus,
    &[type='radio']:focus {
        border-color: $primary;
        box-shadow: 0 0 0 1px $primary;
    }
}

select:focus,
textarea:focus {
    border-color: $primary;
    box-shadow: 0 0 0 1px $primary;
}

/* Core UI */

.wp-core-ui {
    .button,
    .button-secondary {
        color: $primary;
        border-color: $primary;
    }

    .button {
        &.hover,
        &:hover {
            border-color: $tertiary;
            color: $tertiary;
        }
    }

    .button-secondary:hover {
        border-color: $tertiary;
        color: $tertiary;
    }

    .button {
        &.focus,
        &:focus {
            border-color: $tertiary;
            color: $tertiary;
        }
    }

    .button-secondary:focus {
        border-color: $tertiary;
        color: $tertiary;
    }

    .button {
        &.focus,
        &:focus {
            border-color: $tertiary;
            color: $tertiary;
            box-shadow: 0 0 0 1px $tertiary;
        }
    }

    .button-secondary:focus {
        border-color: $tertiary;
        color: $tertiary;
        box-shadow: 0 0 0 1px $tertiary;
    }

    .button {
        &:active {
            background: $tertiary;
            border-color: $tertiary;
        }

        &.active {
            border-color: $tertiary;
            color: $tertiary;
            box-shadow: inset 0 2px 5px -3px $tertiary;

            &:focus,
            &:hover {
                border-color: $tertiary;
                color: $tertiary;
                box-shadow: inset 0 2px 5px -3px $tertiary;
            }
        }
    }

    .button-primary {
        background: $primary;
        border-color: $primary;
        color: #fff;

        &:hover {
            background: $tertiary;
            border-color: $tertiary;
            color: $tertiaryText;
        }

        &:focus {
            background: $tertiary;
            border-color: $tertiary;
            color: $tertiaryText;
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px $tertiary;
        }

        &:active {
            background: $tertiary;
            border-color: $tertiary;
            color: #fff;
        }

        &.active {
            background: $tertiary;
            color: #fff;
            border-color: #182336;
            box-shadow: inset 0 2px 5px -3px black;

            &:focus,
            &:hover {
                background: $tertiary;
                color: #fff;
                border-color: #182336;
                box-shadow: inset 0 2px 5px -3px black;
            }
        }

        &[disabled],
        &:disabled,
        &.button-primary-disabled,
        &.disabled {
            color: #c7cbd1 !important;
            background: #23334f !important;
            border-color: #23334f !important;
            text-shadow: none !important;
        }
    }

    .button-group > .button.active {
        border-color: $tertiary;
    }

    .wp-ui-primary {
        color: #fff;
        background-color: #222222;
    }

    .wp-ui-text-primary {
        color: #222222;
    }

    .wp-ui-highlight {
        color: #fff;
        background-color: $primary;
    }

    .wp-ui-text-highlight {
        color: $primary;
    }

    .wp-ui-notification {
        color: #fff;
        background-color: $secondary;
    }

    .wp-ui-text-notification {
        color: $secondary;
    }

    .wp-ui-text-icon {
        color: #f3f1f1;
    }
}

/* List tables */

.wrap {
    .add-new-h2:hover,
    .page-title-action:hover {
        color: #fff;
        background-color: #222222;
    }
}

.view-switch a {
    &.current:before {
        color: #222222;
    }

    &:hover:before {
        color: $secondary;
    }
}

/* Admin Menu */

#adminmenuback,
#adminmenuwrap {
    background: #222222;
}

#adminmenu {
    background: #222222;

    a {
        color: #fff;
    }

    div.wp-menu-image:before {
        color: $secondary;
    }

    a:hover {
        color: #222;
        background-color: $primary;
    }

    li {
        &.menu-top:hover,
        &.opensub > a.menu-top,
        > a.menu-top:focus {
            color: #222;
            background-color: $primary;
        }

        &.menu-top:hover div.wp-menu-image:before,
        &.opensub > a.menu-top div.wp-menu-image:before {
            color: #fff;
        }
    }
}

/* Active tabs use a bottom border color that matches the page background color. */

.about-wrap .nav-tab-active {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}

.nav-tab-active {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;

    &:hover {
        background-color: #f1f1f1;
        border-bottom-color: #f1f1f1;
    }
}

/* Admin Menu: submenu */

#adminmenu {
    .wp-submenu {
        background: #101010;
    }

    .wp-has-current-submenu {
        .wp-submenu,
        &.opensub .wp-submenu {
            background: #101010;
        }
    }
}

.folded #adminmenu .wp-has-current-submenu .wp-submenu {
    background: #101010;
}

#adminmenu {
    a.wp-has-current-submenu:focus + .wp-submenu {
        background: #101010;
    }

    li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
        border-right-color: #101010;
    }

    .wp-submenu {
        .wp-submenu-head,
        a {
            color: #bdbdbd;
        }
    }

    .wp-has-current-submenu .wp-submenu a {
        color: #bdbdbd;
    }
}

.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
    color: #bdbdbd;
}

#adminmenu {
    a.wp-has-current-submenu:focus + .wp-submenu a,
    .wp-has-current-submenu.opensub .wp-submenu a {
        color: #bdbdbd;
    }

    .wp-submenu a {
        &:focus,
        &:hover {
            color: $primary;
        }
    }

    .wp-has-current-submenu .wp-submenu a {
        &:focus,
        &:hover {
            color: $primary;
        }
    }
}

.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
    &:focus,
    &:hover {
        color: $primary;
    }
}

#adminmenu {
    a.wp-has-current-submenu:focus + .wp-submenu a {
        &:focus,
        &:hover {
            color: $primary;
        }
    }

    .wp-has-current-submenu.opensub .wp-submenu a {
        &:focus,
        &:hover {
            color: $primary;
        }
    }

    .wp-submenu li.current a,
    a.wp-has-current-submenu:focus + .wp-submenu li.current a,
    .wp-has-current-submenu.opensub .wp-submenu li.current a {
        color: #fff;
    }

    .wp-submenu li.current a {
        &:hover,
        &:focus {
            color: $primary;
        }
    }

    a.wp-has-current-submenu:focus + .wp-submenu li.current a {
        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .wp-has-current-submenu.opensub .wp-submenu li.current a {
        &:hover,
        &:focus {
            color: $primary;
        }
    }
}

/* Admin Menu: current */

ul#adminmenu {
    a.wp-has-current-submenu:after,
    > li.current > a.current:after {
        border-right-color: #f1f1f1;
    }
}

#adminmenu li {
    &.current a.menu-top {
        color: #222;
        background: $primary;
    }

    &.wp-has-current-submenu {
        a.wp-has-current-submenu,
        .wp-submenu .wp-submenu-head {
            color: #222;
            background: $primary;
        }
    }
}

.folded #adminmenu li.current.menu-top {
    color: #222;
    background: $primary;
}

#adminmenu li {
    &.current a.menu-top {
        color: #222;
    }

    &.wp-has-current-submenu {
        a.wp-has-current-submenu,
        .wp-submenu .wp-submenu-head {
            color: #222;
        }
    }
}

.folded #adminmenu li.current.menu-top:before {
    color: #222;
}

#adminmenu {
    li.wp-has-current-submenu div.wp-menu-image:before,
    a.current:hover div.wp-menu-image:before {
        color: #222;
    }

    li {
        &.wp-has-current-submenu {
            a:focus div.wp-menu-image:before,
            &.opensub div.wp-menu-image:before {
                color: #222;
            }
        }

        &:hover div.wp-menu-image:before,
        a:focus div.wp-menu-image:before,
        &.opensub div.wp-menu-image:before {
            color: #222;
        }
    }
}

.ie8 #adminmenu li.opensub div.wp-menu-image:before {
    color: #222;
}

/* Admin Menu: bubble */

#adminmenu {
    .awaiting-mod,
    .update-plugins {
        color: #fff;
        background: $secondary;
    }

    li {
        &.current a .awaiting-mod,
        a.wp-has-current-submenu .update-plugins,
        &:hover a .awaiting-mod,
        &.menu-top:hover > a .update-plugins {
            color: #fff;
            background: #101010;
        }
    }
}

/* Admin Menu: collapse button */

#collapse-button {
    color: #f3f1f1;

    &:hover,
    &:focus {
        color: $primary;
    }
}

/* Admin Bar */

#wpadminbar {
    color: #fff;
    background: #222222;

    .ab-item,
    a.ab-item {
        color: #fff;
    }

    > #wp-toolbar span {
        &.ab-label,
        &.noticon {
            color: #fff;
        }
    }

    .ab-icon {
        color: #f3f1f1;

        &:before {
            color: #f3f1f1;
        }
    }

    .ab-item {
        &:before,
        &:after {
            color: #f3f1f1;
        }
    }

    &:not(.mobile) .ab-top-menu > li {
        &:hover > .ab-item,
        > .ab-item:focus {
            color: $primary;
            background: #101010;
        }
    }

    &.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
    &.nojs .ab-top-menu > li.menupop:hover > .ab-item,
    .ab-top-menu > li.menupop.hover > .ab-item {
        color: $primary;
        background: #101010;
    }

    &:not(.mobile) {
        > #wp-toolbar {
            li {
                &:hover span.ab-label,
                &.hover span.ab-label {
                    color: $primary;
                }
            }

            a:focus span.ab-label {
                color: $primary;
            }
        }

        li:hover {
            .ab-icon:before {
                color: #fff;
            }

            .ab-item {
                &:before,
                &:after {
                    color: #fff;
                }
            }

            #adminbarsearch:before {
                color: #fff;
            }
        }
    }

    .menupop .ab-sub-wrapper {
        background: #101010;
    }

    .quicklinks .menupop ul.ab-sub-secondary {
        background: #343434;

        .ab-submenu {
            background: #343434;
        }
    }

    .ab-submenu .ab-item {
        color: #bdbdbd;
    }

    .quicklinks .menupop {
        ul li a,
        &.hover ul li a {
            color: #bdbdbd;
        }
    }

    &.nojs .quicklinks .menupop:hover ul li a {
        color: #bdbdbd;
    }

    .quicklinks li .blavatar,
    .menupop .menupop > .ab-item:before {
        color: #f3f1f1;
    }

    .quicklinks {
        .menupop ul li a {
            &:hover,
            &:focus,
            &:hover strong,
            &:focus strong {
                color: $primary;
            }
        }

        .ab-sub-wrapper .menupop.hover > a {
            color: $primary;
        }

        .menupop.hover ul li a {
            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }

    &.nojs .quicklinks .menupop:hover ul li a {
        &:hover,
        &:focus {
            color: $primary;
        }
    }

    li {
        &:hover {
            .ab-icon:before,
            .ab-item:before {
                color: $primary;
            }
        }

        a:focus .ab-icon:before {
            color: $primary;
        }

        .ab-item:focus {
            &:before,
            .ab-icon:before {
                color: $primary;
            }
        }

        &.hover {
            .ab-icon:before,
            .ab-item:before {
                color: $primary;
            }
        }

        &:hover #adminbarsearch:before,
        #adminbarsearch.adminbar-focused:before {
            color: $primary;
        }
    }

    .quicklinks {
        li a {
            &:hover .blavatar,
            &:focus .blavatar {
                color: $primary;
            }
        }

        .ab-sub-wrapper .menupop.hover > a .blavatar {
            color: $primary;
        }
    }

    .menupop .menupop > .ab-item:hover:before {
        color: $primary;
    }

    &.mobile .quicklinks {
        .ab-icon:before,
        .ab-item:before {
            color: $primary;
        }

        .hover {
            .ab-icon:before,
            .ab-item:before {
                color: #f3f1f1;
            }
        }
    }

    #adminbarsearch:before {
        color: #f3f1f1;
    }

    > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
        color: #fff;
        background: #343434;
    }

    #wp-admin-bar-recovery-mode {
        color: #fff;
        background-color: $secondary;

        .ab-item,
        a.ab-item {
            color: #fff;
        }
    }

    .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
    &.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
        color: #fff;
        background-color: #473c7d;
    }

    &:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode {
        &:hover > .ab-item,
        > .ab-item:focus {
            color: #fff;
            background-color: #473c7d;
        }
    }

    .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
        border-color: #343434;
        background-color: #343434;
    }

    #wp-admin-bar-user-info {
        .display-name {
            color: #fff;
        }

        a:hover .display-name {
            color: $primary;
        }

        .username {
            color: #bdbdbd;
        }
    }
}

/* Admin Bar: submenu */

/* Admin Bar: search */

/* Admin Bar: recovery mode */

/* Admin Bar: my account */

/* Pointers */

.wp-pointer {
    .wp-pointer-content h3 {
        background-color: $primary;
        border-color: #eed02e;

        &:before {
            color: $primary;
        }
    }

    &.wp-pointer-top {
        .wp-pointer-arrow,
        .wp-pointer-arrow-inner {
            border-bottom-color: $primary;
        }
    }

    &.wp-pointer-undefined {
        .wp-pointer-arrow,
        .wp-pointer-arrow-inner {
            border-bottom-color: $primary;
        }
    }
}

/* Media */

.media-item .bar,
.media-progress-bar div {
    background-color: $primary;
}

.details.attachment {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px $primary;

    .check {
        background-color: $primary;
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px $primary;
    }
}

.media-selection .attachment.selection.details .thumbnail {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $primary;
}

/* Themes */

.theme-browser .theme {
    &.active .theme-name {
        background: $primary;
    }

    &.add-new-theme a {
        &:hover:after,
        &:focus:after {
            background: $primary;
        }

        &:hover span:after,
        &:focus span:after {
            color: $primary;
        }
    }
}

.theme-section.current,
.theme-filter.current {
    border-bottom-color: #222222;
}

body.more-filters-opened .more-filters {
    color: #fff;
    background-color: #222222;

    &:before {
        color: #fff;
    }

    &:hover,
    &:focus {
        background-color: $primary;
        color: #fff;
    }

    &:hover:before,
    &:focus:before {
        color: #fff;
    }
}

/* Widgets */

.widgets-chooser li.widgets-chooser-selected {
    background-color: $primary;
    color: #fff;

    &:before,
    &:focus:before {
        color: #fff;
    }
}

/* Responsive Component */

div#wp-responsive-toggle a:before {
    color: #f3f1f1;
}

.wp-responsive-open {
    div#wp-responsive-toggle a {
        border-color: transparent;
        background: $primary;
    }

    #wpadminbar #wp-admin-bar-menu-toggle {
        a {
            background: #101010;
        }

        .ab-icon:before {
            color: #f3f1f1;
        }
    }
}

/* TinyMCE */

.mce-container.mce-menu {
    .mce-menu-item {
        &:hover,
        &.mce-selected,
        &:focus {
            background: $primary;
        }
    }

    .mce-menu-item-normal.mce-active,
    .mce-menu-item-preview.mce-active {
        background: $primary;
    }
}

body#tinymce {
    font-family: $body-font-family;
}

html .mceContentBody {
    font-family: $body-font-family;
}

body#tinymce.wp-editor {
    font-family: $body-font-family;
}

body#tinymce.wp-editor a {
    font-family: $body-font-family;
}

.acf-editor-wrap iframe {
    font-family: $body-font-family !important;
}
