$accessabilityConfig: (
    theme: (
        dark-mode: (
            contrast1: $quinary,
            contrast2: $body-font-color,
        ),
    ),
    font: (
        standard: (
            increase: 1,
            line-height: 1,
        ),
        medium: (
            increase: 1.25,
            line-height: 1.5,
        ),
        large: (
            increase: 1.5,
            line-height: 1.75,
        ),
    ),
);

.accessibility {
    position: fixed;
    background-color: $primary;
    color: $primaryText;
    top: 170px;
    right: ($small-space * 3);
    padding: $medium-space ($small-space * 2);
    z-index: 1000;
    border-radius: ($small-space * 5);
    @media #{$small-only} {
        padding: ($small-space * 2) $medium-space;
        top: 170px;
        a {
            display: inline-block !important;
            margin: 0 $small-space;
            img,
            svg {
                width: $medium-space;
            }
        }
    }
    a {
        color: $primaryText;
        display: block;
        @media #{$medium} {
            &:first-of-type {
                margin-bottom: ($small-space * 2);
            }
        }
        img,
        svg {
            width: ($small-space * 5);
            height: auto;
        }
    }
}

body {
    @each $size in map-keys(map-get($accessabilityConfig, font)) {
        // set the data font attrib
        &[data-font='#{$size}'] {
            p,
            li,
            strong,
            a,
            input,
            label {
                font-size: calc(#{$body-font-size} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$body-font-size} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            .owl-carousel.owl-carousel-home .owl-item .box h1 {
                font-size: calc(2.125rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(2.125rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            .owl-carousel.owl-carousel-home .owl-item .box p {
                font-size: calc(1.375rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(1.6875rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            .vertical-tabs ul.tabs li.tab-page-slug {
                font-size: calc(1.5rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(1.5rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            footer h3 {
                font-size: calc(1.125rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(1.125rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            p.small,
            p.smaller {
                font-size: calc(0.625rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(0.625rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            p.smaller {
                font-size: calc(0.75rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(0.75rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            footer ul.footer-contact li {
                font-size: calc(0.875rem * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(0.875rem * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h1 {
                font-size: calc(#{$headline1} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline1} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h2 {
                font-size: calc(#{$headline2} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline2} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h3 {
                font-size: calc(#{$headline3} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline3} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h4 {
                font-size: calc(#{$headline4} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline4} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h5 {
                font-size: calc(#{$headline5} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline5} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
            h6 {
                font-size: calc(#{$headline6} * #{map-fetch($accessabilityConfig, font $size increase)}) !important;
                line-height: calc(#{$headline6} * #{map-fetch($accessabilityConfig, font $size line-height)}) !important;
            }
        }
    }

    @each $colour in map-keys(map-get($accessabilityConfig, theme)) {
        // set the data font attrib
        &[data-theme='#{$colour}'] {
            background-color: map-fetch($accessabilityConfig, theme $colour contrast2) !important;
        }
    }
}
