#cookie-law-info-bar {
    .cli-bar-message {
        font-family: $body-font-family;
    }
}

a#wt-cli-privacy-save-btn {
    background-color: $primary;
    color: #ffffff;
}

.cli-switch input:checked + .cli-slider {
    background-color: $primary;
}
