@mixin summaryHolder() {
    .summaryHolder {
        margin-bottom: ($large-space * 2);
        padding: ($xlarge-space / 2);
        background-color: #ffffff;
        border-bottom: ($small-space * 2) solid $primary;

        text-align: center;
        z-index: 100;
        position: relative;
        margin-bottom: 0;
        width: 350px;
        display: inline-block;
        margin-top: 250px;

        h2 {
            font-size: rem-calc(36);
            margin-bottom: ($small-space * 2);
            color: $primary;
        }
        .button {
            margin-top: ($small-space * 3);
        }
    }
}

@mixin job-card() {
    h2 {
        font-size: rem-calc(36);
        margin-bottom: ($small-space * 2);
        color: $primary;
        @media #{$small-only} {
            font-size: rem-calc(30);
        }
    }
    ul.job-meta {
        display: inline-block;
        margin-left: 0;
        margin-bottom: $medium-space;
        li {
            font-size: rem-calc(20);
            display: inline-block;
            color: $primary;
            font-weight: bold;
            margin-right: ($small-space * 5);
            @media #{$small-only} {
                font-size: rem-calc(16);
            }
            span {
                margin-right: ($small-space * 2);
            }
        }
    }
    .button {
        margin-top: ($small-space * 3);
    }
}
