#postbox-container-2 {
    #normal-sortables {
        padding-top: $large-space;
        &:before {
            display: inline-block;
            content: 'Further Customisation';
            text-transform: uppercase;
            position: relative;
            top: -$medium-space;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 17px;
            left: 0;
            color: #aaaaaa;
        }
        &:empty {
            display: none;
        }
    }
}

.edit-post-layout__content {
    .edit-post-layout__metaboxes {
        padding-top: $large-space;
        &:before {
            display: inline-block;
            content: 'Further Customisation';
            text-transform: uppercase;
            position: relative;
            top: -$medium-space;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 17px;
            left: $large-space;
            color: #aaaaaa;
        }
        &:empty {
            display: none;
        }

        #postbox-container-2 {
            #normal-sortables {
                padding-top: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.edit-post-meta-boxes-area #poststuff,
#normal-sortables {
    &.sidebar-open {
        h2.hndle {
            border-bottom: none;
        }
        .postbox > .inside {
            h2.hndle {
                border-bottom: none;
            }
        }
    }
    h2.hndle {
        padding-bottom: ($small-space * 5);
        cursor: pointer;
        font-size: 14px;
        span {
            margin-bottom: $medium-space;
            &:before {
                content: '\f1fc';
                position: relative;
                font-family: 'FontAwesome';
                margin-right: ($small-space * 2);
                color: $secondary;
            }
        }
    }
    .acf-button {
        box-shadow: none;
        border: none;
        color: #ffffff;
        margin: 0;
        padding: 0 $medium-space;
        font-size: rem-calc(13);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        text-shadow: none;
        @include button-bg($secondary, $secondaryText);
        &[data-name='add'] {
            margin-left: ($small-space * 2);
        }
    }
    .acf-image-uploader .image-wrap img,
    .acf-field select {
        max-width: 300px;
    }
    .inside {
        background-color: #efefef;
        border-radius: ($small-space * 2);
        //padding: $medium-space!important;
        .acf-label {
            label,
            .description {
                text-transform: none;
                color: $body-font-color;
            }
        }
        // repeaters
        .acf-field-repeater {
            padding: $large-space;
        }
    }
}

.acf-fc-popup {
    a {
        &:hover,
        &:focus,
        &:active {
            span.no-thumbnail {
                color: #ffffff !important;
                font-weight: bold;
            }
        }
        span.no-thumbnail {
            color: $tertiary !important;
        }
    }
}

.acf-flexible-content .layout .acf-fc-layout-handle {
    color: $secondary !important;
    b,
    strong {
        color: $body-font-color !important;
    }
    .original-title {
        font-size: rem-calc(11);
        margin-left: $medium-space;
    }
}

.acf-field.acf-field-text[data-name='admin_title'] {
    background-color: #b4b4b4;
    label {
        text-transform: uppercase !important;
        letter-spacing: 2px !important;
        font-size: rem-calc(10) !important;
        color: #ffffff !important;
    }
}
