body {
    font-family: 'Open Sans', sans-serif;
}

#normal-sortables h2.hndle {
    padding-top: $small-space !important;
    padding-bottom: $small-space !important;
}
#normal-sortables .handlediv {
    padding-top: $small-space !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: $body-font-color !important;
    font-weight: bold !important;
}

p,
span,
li,
th,
td {
    color: $body-font-color !important;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
    border-left: 4px solid $primary;
}
td.column-title strong,
td.plugin-title strong {
    color: $body-font-color;
    font-weight: normal;
}

.plugins .active td,
.plugins .active th {
    background-color: rgba($primary, 0.1);
}

.plugins .row-actions {
    a {
        color: $secondary !important;
        font-size: rem-calc(12);
        font-weight: bold;
    }
}

.update-count,
.plugin-count {
    color: #ffffff !important;
}

span#sample-permalink {
    a {
        text-decoration: none;
        color: #a9a9a9 !important;
        #editable-post-name {
            color: $secondary !important;
        }
    }
}

#collapse-button,
span.collapse-button-label {
    color: #f3f1f1 !important;
}

a#post-preview {
    display: inline-flex;
}

#wpadminbar .ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon,
#wpadminbar a.ab-item {
    color: #ffffff !important;
}

#collapse-button .collapse-button-icon:after {
    color: $tertiary;
}

span.display-name {
    color: #ffffff !important;
}

.filter-count .count,
.title-count {
    background-color: $tertiary;
    color: $tertiaryText;
}

#normal-sortables {
    .inside {
        border-radius: 0;
        background-color: transparent;
    }
    h2.hndle {
        padding-top: $medium-space;
    }
    .handlediv {
        padding-top: $medium-space;
    }
}

.column-comments .comment-count-approved,
.column-comments .comment-count-no-comments,
.column-response .comment-count-approved,
.column-response .comment-count-no-comments {
    background-color: lighten($primary, 10%);
}

.column-comments .post-com-count-approved:after,
.column-comments .post-com-count-no-comments:after,
.column-response .post-com-count-approved:after,
.column-response .post-com-count-no-comments:after {
    border-top: $small-space solid lighten($primary, 10%);
}

.accordion-section-title:after,
.handlediv,
.item-edit,
.postbox .handlediv.button-link,
.toggle-indicator {
    color: $secondary;
}

.wp-core-ui.wp-ui-notification.yoast-issue-counter {
    background-color: $tertiary;
    span {
        color: $tertiaryText !important;
    }
}

.button,
.cn-button,
input[type='button'],
input[type='submit'] {
    height: auto;
    letter-spacing: 0;
    text-transform: none;
    &:after {
        display: none;
    }
}

#dashboard-widgets .postbox .inside {
    padding-top: ($small-space * 2);
    margin-top: 0;
    background-color: transparent;
}

#normal-sortables h2.hndle,
.edit-post-meta-boxes-area #poststuff h2.hndle {
    padding-bottom: $medium-space;
}

li#menu-posts-accessories {
    margin-top: ($small-space * 3);
}
li#menu-posts-testimonials {
    margin-bottom: ($small-space * 3);
}

li#menu-posts-casestudies,
li#menu-posts-company,
li#menu-posts-vacancies,
li#menu-media,
li#menu-posts-resources,
li#menu-posts-policies,
li#menu-posts-reports {
    // margin-left: ($small-space * 3);
    .wp-menu-image {
        &:before {
            color: $tertiary !important;
        }
    }
    a.wp-menu-open {
        + .wp-submenu.wp-submenu-wrap {
            background-color: $primary;
            border-top-right-radius: $small-space;
            border-bottom-right-radius: $small-space;
            margin-left: ($small-space * 3);
            li.current {
                position: relative;
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 7px 7px 0;
                    border-color: transparent #f1f1f1 transparent transparent;
                    line-height: 0px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.notice-warning.notice-alt {
    background-color: $secondary;
    p,
    em {
        color: $secondaryText !important;
    }
    a {
        color: $primary;
        font-weight: bold;
    }
}

li#menu-media {
    .wp-menu-image {
        &:before {
            color: $secondary !important;
        }
    }
}

#adminmenu div.wp-menu-image:before {
    color: $secondary;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    color: #ffffff !important;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#wpadminbar {
    background-color: $body-font-color;
}
