@keyframes move {
    from {
        left: -10%;
    }
    to {
        left: 120%;
    }
}

#dashboard-widgets-wrap {
    display: none;
}

// hide the top intranet posts
#welcome-panel {
    //background-color: $primary;
    background: $body-font-color;
    border: none;
    padding: $medium-space;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: none;
    font-family: $body-font-family;

    &:before {
        border: $small-space solid $secondary;
        position: absolute;
        top: ($small-space * 2);
        left: ($small-space * 2);
        bottom: ($small-space * 2);
        right: ($small-space * 2);
        content: '';
        pointer-events: none;
    }
    h1,
    h2 {
        color: #ffffff !important;
        font-weight: 700;
    }
    h1 {
        font-size: rem-calc(30);
        font-weight: normal !important;
        //text-transform: uppercase;
        color: $darkGrey !important;
        font-family: $header-font-family;
    }
    p,
    span,
    em {
        color: #ffffff !important;
    }
    p {
        font-size: rem-calc(14);
    }
    a:not(.button) {
        color: $lightGrey;
        font-weight: bold;
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: $primary;
        }
    }
    .handle-actions.hide-if-no-js {
        display: none;
    }
    img {
        width: 250px;
        height: auto;
        margin: 0 auto;
        margin-top: ($xlarge-space / 2);
        text-align: center;
        display: block;
        margin-bottom: $medium-space;
    }
    .welcome-panel-close {
        top: $medium-space;
        right: ($large-space - $small-space);
        padding: 0;
        font-size: 1px;
        color: $primary;
        &:hover,
        &:focus,
        &:active {
            color: $primary;
        }
        &:before {
            color: $body-font-color;
            opacity: 0.5;
            top: 12px;
            left: ($small-space * 2);
        }
    }
}
