.calendar-button {
    margin-top: $large-space;
}
#add-to-cal-js {
    color: #ffffff;
    //margin-top: $large-space;
    //position: relative;
    &:hover,
    &:focus,
    &:active {
        color: $primary;
        .add-to-calendar {
            label.add-to-calendar-checkbox {
                color: #ffffff;
            }
        }
    }
    .add-to-calendar {
        position: absolute;
        top: ($small-space * 10);
        background-color: #ffffff;
        z-index: 1;
        color: $primary;
        width: 100%;
        a {
            z-index: 10;
        }
        &.calendar-options {
            width: 200px;
            a {
                text-transform: none;
                margin-bottom: ($small-space * 2);
            }
        }
        label.add-to-calendar-checkbox {
            position: absolute;
            top: -42px;
            left: 0;
            width: 100%;
            color: $primary;
        }
        input.add-to-calendar-checkbox {
            top: -9999px;
            left: -9999px;
        }
    }
}
