.component-article-cards {
    article {
        position: relative;
        padding-top: ($small-space * 3);
        margin: 0 $medium-space;
        &:before {
            background-color: $grey;
            display: block;
            width: 100%;
            height: calc(100% + 15px);
            content: '';
            opacity: 0;
            position: absolute;
            z-index: -1;
            left: -10%;
            top: 0;
            transition: 0.5s ease all;
        }
        &:hover,
        &:focus,
        &:active {
            &:before {
                opacity: 1;
                transition: 0.5s ease all;
            }
        }
        .component-image {
            border-radius: 0 !important;
            width: 100% !important;
            height: auto !important;
        }
        .article-content {
            width: 80%;
            strong a {
                text-transform: uppercase;
                color: $primary;
                font-size: rem-calc(10);
                font-weight: bold;
            }
            h3 {
                font-size: rem-calc(15);
                color: $primary;
                margin-bottom: 0;
            }
            span {
                font-size: rem-calc(12);
                margin-bottom: $large-space;
                position: relative;
                color: $primary;
                display: block;
                &:after {
                    content: '';
                    border-bottom: 1px solid $grey;
                    width: ($small-space * 10);
                    height: 1px;
                    position: absolute;
                    bottom: -$medium-space;
                    left: 0;
                }
            }
            p {
                font-size: rem-calc(12);
                @media #{$small-only} {
                    font-size: rem-calc(14);
                }
            }
        }
        .button {
            margin-top: $medium-space;
            margin-bottom: $medium-space;
            font-size: rem-calc(13);
        }
    }
}
