.component-article-posts {
    padding: 0;
    article {
        position: relative;
        padding-top: ($small-space * 3);
        @media #{$medium} {
            margin: 0 $medium-space;
        }
        h3 {
            font-size: rem-calc(26);
            margin-bottom: ($small-space * 3);
            + span {
                color: $primary;
                font-weight: bold;
                margin-bottom: $medium-space;
                display: block;
            }
        }
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .button {
            margin-top: $medium-space;
        }
    }
}
