.breadcrumb {
    font-size: rem-calc(12);
    margin-top: $medium-space;
    color: $secondaryText;
    background-color: $secondary;
    padding: 0;
    padding-left: $large-space;
    padding-right: 0;
    position: relative;
    display: inline-flex;
    height: $large-space;
    top: -$large-space;
    z-index: 10;
    align-items: center;
    @media #{$small-only} {
        display: inline-block;
        height: auto;
        padding: ($small-space * 2);
    }
    &:before,
    .circle {
        content: '';
        position: absolute;
        top: 0;
        height: ($small-space * 5);
        z-index: 0;
        background-color: $secondary;
    }
    &:before {
        left: -50vw;
        width: 50vw;
        @media #{$small-only} {
            left: -40vw;
            height: 100%;
        }
    }
    @media #{$small-only} {
        .circle {
            display: none;
        }
    }
    span {
        display: inline-flex;
        z-index: 10;
        position: relative;
        align-items: center;
        font-size: rem-calc(16);
        @media #{$small-only} {
            display: inline-block;
        }
        span {
            margin: 0 $small-space;
        }
    }
    a {
        color: #ffffff;
    }
    img,
    svg {
        height: $medium-space;
        width: auto;
    }
    .circle {
        right: -$medium-space;
        height: $large-space;
        border-radius: 50%;
        width: $large-space;
    }
}
