.owl-nav {
    @extend .container;
    width: 120%;
    height: $button-size;
    z-index: 1000;
    display: inline-flex;
    justify-content: center;
    @extend .absolute-center;
    button {
        display: inline-block !important;
        position: absolute;
        border-radius: 50%;
        width: $button-size;
        height: $button-size;
        top: -50%;
        color: $primary !important;
        z-index: 1000;
        @media #{$small-only} {
            width: $large-space;
            height: $large-space;
        }
        i {
            font-size: rem-calc(40);
        }
        &.owl-prev {
            left: 0;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                left: -$medium-space;
            }
            span {
                transform: translate(-60%, -50%);
                background-color: transparent;
            }
        }
        &.owl-next {
            right: 0;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                right: -$medium-space;
            }
            span {
                transform: translate(-40%, -50%);
                background-color: transparent;
            }
        }
    }
}
/* Styling Pagination*/
.owl-dots {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: $medium-space;
    @media #{$small-only} {
        margin-top: 0;
    }
    button {
        width: ($small-space * 2);
        height: ($small-space * 2);
        margin-left: 2px;
        margin-right: 2px;
        &.active {
            span {
                background-color: rgba($body-font-color, 0.7);
            }
        }
    }
    span {
        width: ($small-space * 2);
        height: ($small-space * 2);
        background: #ffffff;
        border: 1px solid rgba($body-font-color, 0.7);
        display: block;
        border-radius: 50%;
    }
}

$hero: 500px;

.owl-carousel.owl-carousel-home {
    height: $hero;
    @media #{$small-only} {
        height: 650px;
    }
    .owl-item {
        height: $hero;
        display: inline-flex;
        @media #{$small-only} {
            height: 650px;
        }
        > div {
            overflow: hidden;
            display: flex;
            width: 100%;
            @media #{$small-only} {
                display: inline-block;
            }
        }
        .carousel-holder {
            display: flex;
            align-self: center;
            width: 100%;
            @media #{$small-only} {
                align-self: flex-end;
                margin-top: 0;
            }
        }
        .box {
            padding: ($xlarge-space / 2);
            padding-right: 0;
            position: relative;
            z-index: 10;
            @media #{$small-only} {
                padding: $medium-space;
            }
            &:before,
            .circle {
                content: '';
                position: absolute;
                top: 0;
                height: 100%;
                z-index: 0;
            }
            &:before {
                left: -50vw;
                width: 50vw;
                @media #{$small-only} {
                    width: 200vw;
                    left: -50vw;
                }
            }

            h1 {
                font-size: rem-calc(34);
                line-height: rem-calc(34);
                margin-bottom: ($small-space * 3);
                display: inline-block;
                position: relative;
                z-index: 10;
            }
            p {
                position: relative;
                z-index: 10;
                font-size: rem-calc(22);
                line-height: rem-calc(27);
            }
            .button {
                margin-top: ($small-space * 2);
                font-size: rem-calc(14);
                z-index: 100;
                position: relative;
                font-family: $header-font-family;
            }
        }
        img {
            object-fit: cover;
            object-position: right;
            height: $hero;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @media #{$small-only} {
                position: relative;
                top: auto;
                left: auto;
                height: 310px;
            }
        }
        article {
            padding-left: ($small-space * 10);
            @media #{$small-only} {
                padding-left: 0;
                text-align: center;
            }
        }
    }
}
