.component-centered-text-box-bg {
    background-size: cover;
    background-position: center center;
    height: 100%;

    position: relative;
    @media #{$small-only} {
        height: $inner-hero-small;
    }
    > .row,
    > .row .col-12 {
        height: 100%;
        width: 100%;
        @media #{$small-only} {
            margin-left: 0;
        }
    }

    @include summaryHolder();
}
