.component-centered-text {
    @media #{$small-only} {
        padding: 0 $medium-space;
        .col-12 {
            padding-bottom: 0 !important;
        }
    }
    h1 {
        margin-bottom: 0;
    }
    p {
        font-weight: normal;
        font-size: rem-calc(20);
        width: 60%;
        margin: 0 auto;
        @media #{$small-only} {
            width: 100%;
        }
    }
}
