.component-centered-image-text {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .component-image {
        max-width: 400px;
        height: auto;
        margin-bottom: ($small-space * 3);
    }
    h2,
    h2 p {
        font-size: rem-calc(36);
        color: $primary;
        margin: 0 auto;
        margin-bottom: ($small-space * 3);
        font-weight: bold;
        line-height: rem-calc(38);
    }

    p,
    strong {
        width: 80%;
        margin: 0 auto;
    }

    strong {
        font-size: rem-calc(20);
        color: $primary;
        margin-bottom: ($small-space * 4);
        margin-top: ($small-space * 4);
        display: block;
    }
}
