.component-featured-post {
    background-size: cover;
    margin-bottom: ($small-space * 10);
    article {
        margin: ($small-space * 10) auto;
        background-color: $quinary;
        border-radius: 173px;
        opacity: 0.9;
        padding: $large-space;
        @media #{$small-only} {
            border-radius: (($large-space * 2) + ($small-space * 2));
        }
        .button {
            margin-top: ($xlarge-space / 2);
        }
    }
}
