.component-form {
    padding: ($small-space * 10) 0;
    margin-bottom: ($small-space * 10);
    hr {
        border: 0;
        border-bottom: 1px solid $primary;
        background: $primary;
        opacity: 0.6;
        margin: 20px 0;
    }
    form {
        width: 100%;
        display: inline-block;

        .container {
            padding-left: 0;
            padding-right: 0;
        }
        label,
        p {
            display: block;
            font-weight: bold;
            margin-bottom: ($small-space * 2);
        }

        input:not([type='submit']),
        textarea,
        select {
            width: 100%;
            margin-bottom: ($small-space * 2);
            border: 1px solid #0083a8;
            color: rgba($body-font-color, 0.4);
        }
        .row {
            margin-bottom: ($small-space * 4);
        }
        input[type='submit'] {
            margin-top: $large-space;
            padding-left: $xlarge-space;
            padding-right: $xlarge-space;
        }
    }
    .reason-all {
        display: none;
        &.reason-general {
            display: block;
        }
    }
}
.none-rounded {
    input:not([type='submit']),
    textarea,
    select {
        border-radius: 0;
    }
}
