.component-hero {
    background-size: cover;
    background-position: center center;
    height: $home-hero;
    @media #{$small-only} {
        height: 140px;
    }
    > .row,
    > .row .columns {
        height: 100%;
        width: 100%;
        @media #{$small-only} {
            margin-left: 0;
        }
    }
    .captionHolder {
        @extend .absolute-center;
        transform: translate(-50%, -35%);
        z-index: 10;
        width: 100%;
        h1 {
            text-shadow: 0px 0px ($small-space * 5) rgba(0, 0, 0, 0.2);
        }
    }
}

body.home {
    .component-hero {
        height: calc(100vh - #{$headerHeight});
        @media #{$small-only} {
            height: $inner-hero-small;
        }
    }
}
