.component-icons {
    h2 {
        padding-bottom: $large-space;
    }
    img {
        height: 100px;
        width: auto;
        display: block;
        margin: 0 auto $medium-space auto;
        @media #{$small-only} {
            width: 100px;
            height: auto;
            margin-bottom: $medium-space;
        }
    }
    p {
        font-weight: bold;
        color: $primary;
        font-size: rem-calc(20);
        @media #{$small-only} {
            margin-bottom: $large-space;
        }
    }
    strong {
        font-weight: bold;
        color: $primary;
        font-size: rem-calc(20);
        display: block;
        margin-bottom: ($small-space * 2);
        + p {
            font-weight: normal;
            color: $body-font-color;
            font-size: $body-font-size;
        }
    }
}
