@keyframes breathing {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.7);
    }
}

body.modal-js,
body.modal-welcome-js {
    //position: fixed;
    &:after {
        content: '';
        background-color: rgba(#000, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}
body.modal-welcome-js:after {
    background-color: rgba(#000, 0.9);
}

.modal {
    width: 580px;
    height: auto;
    max-height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #ffffff;
    color: $body-font-color;
    z-index: 1000;
    box-shadow: 0px 0px ($small-space * 5) #000000;
    border-radius: 200px;
    @media #{$small-only} {
        width: 90%;
        left: 50%;
    }
    .fa-close {
        position: absolute;
        top: ($small-space * 3);
        right: $medium-space;
        color: $secondary;
        cursor: pointer;
        z-index: 10;
    }
    &.active {
        display: inline-block;
    }
    .modalHold {
        height: 100%;
        max-height: 480px;
        overflow: hidden;
        overflow-y: auto;
        padding-bottom: 0;
        width: 80%;
        margin: 0 auto;
        padding: $large-space;
        p {
            font-size: rem-calc(18);
        }
        .container {
            padding: 0;
        }
        .button {
            margin-top: $large-space;
        }
    }
}

// hide contact form 7 success
// .wpcf7 form.sent .wpcf7-response-output {
//     display: none;
// }
