.hidden {
    display: none;
}

.component-queries {
    @media #{$small-only} {
        margin-top: ($small-space * 10);
    }
    ul {
        .component-queries {
            margin-top: ($small-space * 10);
        }
    }
    h2 {
        margin-bottom: ($small-space * 10);
        display: inline-block;
    }

    .query-page {
        &.text-bg {
            img {
                border-radius: 0;
                width: 100%;
                height: 260px;
                object-fit: cover;
                object-position: center;
                margin-bottom: 0;
            }

            h3 {
                width: 100%;
                font-size: rem-calc(24);
                margin-bottom: 0;
            }
        }

        article {
            margin-bottom: $large-space;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: center;
            justify-content: center;
            height: 100%;
            .article-content {
                display: inline-flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: center;
                height: 100%;
                flex-wrap: wrap;
                align-content: flex-start;
            }
            img {
                border-radius: 50%;
                width: 160px;
                height: 160px;
                object-fit: cover;
                object-position: center center;
                margin-bottom: ($xlarge-space / 2);
                display: block;
            }

            h3 {
                margin-bottom: ($small-space * 2);
            }

            .icon-containter + .summary.coloured {
                padding: $medium-space 0 !important;
            }
            .summary {
                order: 3;
                width: 100%;
                flex-direction: column;
                padding: $medium-space 0 !important;

                .longer,
                .shorter,
                &.coloured {
                    padding: $medium-space !important;
                }
                @media #{$medium} {
                    padding-bottom: $large-space;
                }
                position: relative;
                @media #{$small-only} {
                    padding: $medium-space 0 $large-space 0;
                }
                p {
                    margin-bottom: $medium-space;
                    @media #{$medium} {
                        height: 75px;
                        font-size: rem-calc(16);
                        line-height: rem-calc(20);
                    }
                }
                .summary-toggle-js {
                    display: inline-block;
                    .longer {
                        p {
                            height: auto;
                        }
                    }
                }
                .button {
                    width: fit-content;
                    margin-top: $medium-space;
                }
                @media #{$medium} {
                    .button {
                        // position: absolute;
                        left: 50%;
                        top: auto;
                        // transform: translateX(-50%);
                        bottom: ($small-space * 3);
                        width: fit-content;
                    }
                }
            }
        }

        .icon-containter {
            border-radius: 50%;
            width: 175px;
            height: 175px;
            @extend .align-all;
            @media #{$small-only} {
                margin-bottom: $medium-space;
            }
            img {
                width: 150px;
                height: 150px;
                margin-bottom: 0;
            }
        }
    }

    .query-post {
        article {
            h3 {
                display: inline-block;
                width: 100%;
                font-size: rem-calc(22);
                margin-bottom: 0;
                text-transform: none;
                font-family: $header-font-family;
                display: inline-flex;
                align-self: center;
                align-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0;
            }
            img {
                width: 100%;
                height: 265px;
                object-fit: cover;
                object-position: center;
                display: block;
            }
            p {
                font-size: rem-calc(14);
                height: 120px;
                color: $body-font-color;
            }
            .box {
                background-color: $lightGrey;
                padding: $medium-space;

                hr {
                    border: 0;
                    border-bottom: 2px solid $primary;
                    background: $primary;
                    opacity: 0.6;
                    margin: $small-space 0 10px 0;
                }

                ul {
                    margin: 0;
                    display: inline-flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-content: center;
                    align-items: flex-end;
                    width: 100%;
                    li {
                        list-style-type: none;
                    }
                }
            }
        }
        @each $theme in map-keys(map-get($config, themes)) {
            &.#{$theme} {
                h3 {
                    color: map-fetch($config, themes $theme text);
                    background-color: map-fetch($config, themes $theme colour);
                }
                .button {
                    background-color: map-fetch($config, themes $theme colour);
                    color: map-fetch($config, themes $theme text);
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: darken(map-fetch($config, themes $theme colour), 10%);
                    }
                }
            }
        }
    }
}
