.component_standard_text {
    .standard-text-container {
        margin-top: $large-space;
        margin-bottom: $large-space;
        div {
            @media #{$small-only} {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    margin: 0;
                }
            }
        }
        h5 {
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
    &.standard_full_width {
        img {
            width: 100%;
        }
    }
}
