$tabSpace: 3px;
.vertical-tabs {
    z-index: 10;
    margin-bottom: ($small-space * 10);
    @media #{$small-only} {
        padding: 0;
    }
    ul.tabs {
        display: inline-flex;
        text-align: center;
        width: 100%;
        margin-bottom: -$small-space;
        position: relative;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: stretch;

        @media #{$small-only} {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0;
        }
        &.tab-text {
            width: 90%;
            margin: 0 auto;
            display: flex;
        }
        li.tab-page-slug {
            opacity: 0.6;
            display: inline-flex;
            align-content: center;
            align-items: center;
            font-weight: bold;
            text-align: center;
            font-family: $header-font-family;
            padding: ($small-space * 2) ($small-space * 3);
            position: relative;
            cursor: pointer;
            font-size: rem-calc(24);
            text-align: center;
            justify-content: center;
            width: 100%;
            margin: 0 $small-space;
            transition: 0.3s ease all;
            @each $theme in map-keys(map-get($config, themes)) {
                &.#{$theme} {
                    background-color: map-fetch($config, themes $theme colour);
                    color: map-fetch($config, themes $theme text);
                }
            }

            @media #{$small-only} {
                padding: ($small-space * 3) $medium-space;
                font-size: rem-calc(16);
            }
            &.active {
                opacity: 1;
                transition: 0.3s ease all;
                padding: ($small-space * 3);
            }
        }
    }
    .tab-content-holder {
        .tabs {
            position: relative;
        }
    }
    .tab-content {
        display: none;
        width: 100%;
        position: relative;
        z-index: 10;
        @media #{$small-only} {
            padding: ($small-space * 2);
        }
        &:before,
        &:after {
            content: '';
            height: calc(100% + 5px);
            position: absolute;
            top: 0;
            display: block;
            width: 100vw;
        }
        &:before {
            left: -40vw;
        }
        &:after {
            right: -40vw;
        }

        @each $theme in map-keys(map-get($config, themes)) {
            &.#{$theme} {
                background-color: tint(map-fetch($config, themes $theme colour), 90%);
                strong,
                b {
                    color: map-fetch($config, themes $theme colour);
                }
                h1,
                h2,
                h3 {
                    background: map-fetch($config, themes $theme colour);
                    color: map-fetch($config, themes $theme text);
                }
                &:before,
                &:after {
                    background-color: tint(map-fetch($config, themes $theme colour), 90%);
                }
                a:not(.button) {
                    color: map-fetch($config, themes $theme colour);
                }
                p a:not(.button) {
                    color: map-fetch($config, themes $theme colour);
                }
                .button {
                    background: map-fetch($config, themes $theme colour);
                    color: map-fetch($config, themes $theme text);
                    &:hover,
                    &:focus,
                    &:active {
                        background: darken(map-fetch($config, themes $theme colour), 10%);
                    }
                }
            }
        }

        .container {
            z-index: 10;
            position: relative;
        }
        .hidden {
            display: none;
        }

        &-inner {
            @media #{$small-only} {
                padding-top: ($xlarge-space / 2);
            }
            &-colour {
                width: 100%;
                height: 100%;
                margin: 0;
                @extend .align-all;
                align-items: center;
                padding: ($small-space * 10) 0;
                @media #{$small-only} {
                    padding: 0;
                }

                h1,
                h2,
                h3 {
                    margin-bottom: $medium-space;
                    display: table;
                    margin-top: ($xlarge-space / 2);
                    + p {
                        margin-bottom: ($xlarge-space / 2);
                    }
                }

                p {
                    margin-top: 0;
                }
                b,
                strong {
                    font-size: rem-calc(18);
                }
                a {
                    word-break: break-word;
                    &:not(.button) {
                        text-decoration: underline;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        color: $secondary;
                    }
                }
                li {
                    margin-bottom: ($small-space * 2);
                    a {
                        &:hover,
                        &:focus,
                        &:active {
                            color: $primary;
                        }
                    }
                }
                .query-page {
                    .article-content {
                        h3 {
                            font-size: rem-calc(18);
                            align-content: center;
                            align-items: center;
                            justify-content: center;
                            align-self: center;
                            height: 80px;
                            display: inline-flex;
                        }
                    }
                }
                .toggleButton-js {
                    margin: $medium-space auto;
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    cursor: pointer;
                    font-family: $header-font-family;
                    span {
                        display: block;
                        font-size: 2.5rem;
                    }
                }
                .toggleButton-js {
                    &.active {
                        .fa.top {
                            display: none;
                        }
                    }
                }
                .toggle-js {
                    display: none;
                    .container {
                        > .row {
                            padding-bottom: $large-space;
                        }
                        @media #{$small-only} {
                            p {
                                font-size: rem-calc(15) !important;
                                margin-bottom: 0px;
                            }
                        }
                        h3,
                        h4 {
                            color: $primary;
                        }
                        a:not(.button) {
                            &:hover,
                            &:focus,
                            &:active {
                                color: $primary;
                            }
                        }
                        svg {
                            width: 55px;
                            height: 120px;
                        }
                    }
                }
                a:not(.button),
                p {
                    color: $body-font-color;
                    &.secondary {
                        color: $secondary;
                    }
                }
                img {
                    @media #{$small-only} {
                        margin-top: ($xlarge-space / 2);
                    }
                }
                hr {
                    width: 100%;
                    border-bottom: 1px solid #f8f9fa;
                    margin-bottom: ($xlarge-space / 2);
                }
            }
        }
        &.active {
            display: inline-block;
            margin-bottom: -1px;
        }
    }
}

.horizontal-tabs {
    .tabs {
        .tab-content {
            display: none;
            img {
                width: 100%;
                height: auto;
                max-height: 340px;
                object-fit: cover;
                object-position: center;
            }
            &.active {
                display: inline-flex;
                width: 100%;
            }
        }
    }
    ul.tabs {
        align-items: flex-start;
        align-content: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        height: 335px;
        overflow-y: scroll;
        li.tab-page-slug {
            display: inline-flex;
            flex: 0 0 100%; /* Let it fill the entire space horizontally */
            width: 100%;
            font-family: $body-font-family;
            font-weight: normal;
            color: $body-font-color;
            font-size: rem-calc(16);
            border-bottom: 1px solid $tertiary;
            cursor: pointer;
            padding-bottom: $medium-space;
            margin-bottom: ($small-space * 2);
            opacity: 0.6;
            span[itemprop='legalName'] {
                font-weight: bold;
            }
            &.active {
                display: inline-flex;
                opacity: 1;
            }
        }
    }
}

// will not catch
.vertical-tabs ul.tabs li.tab-page-slug.senary,
.vertical-tabs .tab-content.senary .button {
    color: #ffffff;
}

.cleanslate,
.cleanslate h3,
.cleanslate h5,
.cleanslate p,
.cleanslate h1,
.cleanslate dl,
.cleanslate dt,
.cleanslate h6,
.cleanslate ol,
.cleanslate form,
.cleanslate select,
.cleanslate option,
.cleanslate pre,
.cleanslate div,
.cleanslate h2,
.cleanslate caption,
.cleanslate h4,
.cleanslate ul,
.cleanslate address,
.cleanslate blockquote,
.cleanslate dd,
.cleanslate fieldset,
.cleanslate textarea,
.cleanslate hr,
.cleanslate article,
.cleanslate aside,
.cleanslate dialog,
.cleanslate figure,
.cleanslate footer,
.cleanslate header,
.cleanslate hgroup,
.cleanslate menu,
.cleanslate nav,
.cleanslate section {
    width: 49% !important;
    display: inline-block !important;
}
