.component-text-left-image-right,
.component-text-right-image-left {
    background-size: cover;
    background-position: center;
    margin-bottom: ($small-space * 10);
    padding: ($small-space * 10) 0;
    position: relative;

    @media #{$small-only} {
        background-image: none !important;
        margin-bottom: 0;
        padding: 0;
    }

    .container {
        margin: ($small-space * 10) auto;
        @media #{$small-only} {
            margin-top: 0;
        }
    }

    .box,
    .circle {
        @extend .vertical-center;
        height: 100%;
        z-index: 0;
        width: 53vw;
        @media #{$small-only} {
            left: 0;
            width: 100vw;
            position: absolute;
            left: auto;
            bottom: 50px;
            transform: none;
            top: auto;
        }
    }

    .circle {
        border-radius: 45%;
        @media #{$small-only} {
            display: none;
        }
    }

    .box {
        @media #{$small-only} {
            left: 0;
            height: auto !important;
        }
    }
    strong {
        color: $primary;
        display: block;
        margin-bottom: ($small-space * 2);
    }

    h2,
    p,
    a {
        //display: inline-flex;
        z-index: 10;
        position: relative;
    }
    h2 {
        font-size: rem-calc(40);
        line-height: rem-calc(45);
        @media #{$small-only} {
            margin-top: $medium-space;
        }
    }
    img {
        min-height: 300px;
        width: auto;
        object-fit: cover;
        @media #{$small-only} {
            margin-top: $large-space;
            + .container {
                padding-bottom: ($xlarge-space / 2);
                margin-bottom: 0;
            }
        }
    }
    .button {
        margin-top: ($xlarge-space / 2);
    }
}

@media #{$medium} {
    .component-text-left-image-right {
        .box {
            left: -130px;
        }
    }

    .component-text-right-image-left {
        .box {
            right: -130px;
        }
    }
}
